<!-- BEGIN: ADD -->
	<form method="post" name="frmAdd" >
	<h2 align="center" class="_title"> Thêm nhân viên tư vấn mới</h2><br />
    	<table width="98%" border="0">
          <tr>
            <td align="right">Họ và tên</td>
		<td align="left"><input type="text" name="TenTVV" size="60" class="textBox" value="{TenTVV}" /></td>
          </tr>
		  <tr>
            <td  align="right">Email</td>
            <td align="left"><input type="text" name="email" size="60" value="{email}"  /></td>
          </tr>
		  <tr>
            <td  align="right">Tài khoản Yahoo</td>
            <td align="left"><input type="text" name="yahoo" size="60" value="{yahoo}"  /></td>
          </tr>
		  <tr>
            <td  align="right">Tài khoản Skype</td>
            <td align="left"><input type="text" name="skype" size="60" value="{skype}"  /></td>
          </tr>
		  <tr>
            <td  align="right">Điện thoại</td>
            <td align="left"><input type="text" name="Dienthoai" size="60" value="{Dienthoai}"  /></td>
          </tr>
		   <tr>
            <td  align="right">Trang hoạt động</td>
            <td align="left">
				<select name="NoiHoatDong">
					<option value="{NoiHoatDong}">{NoiHoatDong}</option>
					<option value="NTD">NTD</option>
					<option value="NTV">NTV</option>
					<option value="NTD&NTV">NTD&#38;NTV</option>
				</select>
			</td>
          </tr>
		   <tr>
            <td  align="right">Trạng thái</td>
            <td align="left">
				<select name="TrangThai">
					<option value="{TrangThai}">{TrangThai}</option>
					<option value="Active">Active</option>
					<option value="Inactive">Inactive</option>
				</select>
			</td>
          </tr>
		   <tr>
            <td colspan="2" align="center"><input class="button add" type="submit" value="Thêm"  />&nbsp;
				<input class="button" type="reset" value="Làm lại" /></td>
          </tr>
	
          <tr>
            <td colspan="2" style="color:red; list-style:none">{errMes}</td>
          </tr>
        </table>

    </form>
<!-- END: ADD -->