

<!-- BEGIN: BLS -->	
	<div class="_title" style="width:100%"><h2 style="color:#000066"> Danh sách các nhân viên tư vấn</h2></div>
	<div class="head_list">
	<input class="button add" type="button" value="ADD" onclick="onAdd('?m=tuvanvien&a=add')" />
	<input type="button" class="button cancel" value="DELETE" onclick="onDelAll('tuvanvien')" />
	</div>
	<table align="center">
    	<thead>
        	<tr>
            	<th width="5%">Nbr</th>
				<th>Tên tư vấn viên</th>
                <th>Email</th>
				<th>Yahoo</th>
				<th>Skype</th>
				<th>Điện thoại</th>
				<th>Page</th>
				<th>Trạng thái</th>
                <th colspan="2">Action</th>
                <th><input type="checkbox" name="masCheck" onclick="checkAll()" id="masCheck"  /></th>
            </tr>
        </thead>
        <tbody>
        	
            <!-- BEGIN: LS -->
            <tr >
            	<td >{LS.nbr}</td>
				 <td>{LS.TenTVV}</td>
                <td>{LS.email}</td>
				<td>{LS.yahoo}</td>
				<td>{LS.skype}</td>
				<td>{LS.Dienthoai}</td>
				<td>{LS.NoiHoatDong}</td>
				<td>{LS.TrangThai}</td>
                <td align="center"><a href="?m=tuvanvien&amp;a=edit&amp;id={LS.MaTVV}" class="table-icon edit"  title="Edit"></a></td>
                <td align="center"><a href="javascript:void(0)" onclick="onDelOne({LS.MaTVV},'{LS.TenTVV}','tuvanvien')" class="table-icon delete"  title="Delete" ></a></td>
                <td align="center"><input type="checkbox" value="{LS.MaTVV}" name="ick[]" /></td>
            </tr>
            <!-- END: LS -->
            <!-- BEGIN: NI -->
            <tr>
            	<td class="nullInfo" colspan="6">{nullInfo}</td>
            </tr>
            <!-- END: NI -->
        </tbody>
		<tfoot>
			<tr>
				<td colspan="6"><span>{pagers}</span> </td>
			</tr>
		</tfoot>
    </table>
<!-- END: BLS -->