<!-- BEGIN: FORGOT  -->
<div style="margin-left:20px; margin-top:10px;" id="create_resume" class="box">
		<h3>QUÊN MẬT KHẨU!</h3> 
		
		
		
		<form name="frmForgot" method="post">
		<table>
			<tr>
				<td colspan="2">Mời bạn nhập vào địa chỉ e-mail để lấy lại mật khẩu</td>
				
			</tr>
			
			<tr>
				<td align="right"><strong>Email</strong></td>
				<td><input type="text" class="txt text" width="300px" name="txtEmail"></td>
			</tr>
			<tr>

				<td colspan="2" align="left" class="err">{errMes}</td>
				
			</tr>
			
			<tr>
				<td></td>
				<td><input type="submit"  class="button"name="btnOk"></td>
				
			</tr>
		</table>
	</form>
</div>	

<!-- END: FORGOT -->
