<!--BEGIN: SIGNUP-->
	<div class="signup">
		<form name="frmForm" method="post" enctype="multipart/form-data" >
			<h3>Đăng ký tài khoản</h3>
			<p style="margin:10px; padding:10px; display:block;border-bottom:1px dashed #0000CC;">   Lưu ý: Các trường đánh dấu <label class="hoathi" >&#42;</label>  là bắt buộc phải nhập!</p>
			
			
			<table style="margin:20px auto">
				<tr>
					<td colspan="2" style="margin-left:50px;"><label class="err" >{errMes}</label>  </td>
				</tr>
				
				<tr>
					<td align="right"><strong>Email<label class="hoathi" >&#42;</label>
					  </strong>					  <strong><label class="hoathi" >
					  </label>  
				    </strong></td>
					<td>
						<input style="width:250px;"  class="txt left" type="text" name="txtEmail" value="{Email}" required="required"/><div class="clear"></div>
						<label>Ví dụ: vieclamIT@vieclam.vn</label>					</td>
				</tr>
				
				<tr>
					<td align="right"><strong>Mật khẩu
				    <label class="hoathi" >&#42;</label>  
				    </strong></td>
					<td><input width="200px" class="txt left" type="password" name="txtMatkhau" value="{Pwd}" required="required"/></td>
				</tr>
				
				<tr>
					<td align="right"><strong>Nhập lại mật khẩu
				    <label class="hoathi" >&#42;</label> 
				    </strong></td>
					<td><input width="200px" class="txt left" type="password" name="txtNhapLaiMK" value="{Pwd}" required="required"/></td>
				</tr>
				
				<tr>
					<td align="right"><strong>Họ và tên
				    <label class="hoathi" >&#42;</label> 
				    </strong></td>
					<td><input style="width:250px;" class="txt left" type="text" name="txtHoTen" value="{TenNTV}" required="required"/></td>
				</tr>
				
				<tr>
					<td align="right"><strong>Ngày sinh
				    <label class="hoathi" >&#42;</label> 
				    </strong></td>
					<td>
						
						
						<script language="JavaScript" type="text/javascript">
                  function setBirthYear(targetSel){
                    target = $(targetSel);
                    if(target.val() == "") {
                      target.val(1980);
                    }
                  }
                </script>
                <select id="cbxngaysinh" name="cbxngaysinh" required="required" ><option value="" class="left">...</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option></select>
                <select id="cbxthangsinh" name="cbxthangsinh" required="required"><option value="">...</option><option value="1">Tháng 1</option><option value="2">Tháng 2</option><option value="3">Tháng 3</option><option value="4">Tháng 4</option><option value="5">Tháng 5</option><option value="6">Tháng 6</option><option value="7">Tháng 7</option><option value="8">Tháng 8</option><option value="9">Tháng 9</option><option value="10">Tháng 10</option><option value="11">Tháng 11</option><option value="12">Tháng 12</option></select>
                <select id="cbxnamsinh" name="cbxnamsinh" required="required"  onclick="setBirthYear(this);"><option value="">...</option><option value="2010">2010</option><option value="2009">2009</option><option value="2008">2008</option><option value="2007">2007</option><option value="2006">2006</option><option value="2005">2005</option><option value="2004">2004</option><option value="2003">2003</option><option value="2002">2002</option><option value="2001">2001</option><option value="2000">2000</option><option value="1999">1999</option><option value="1998">1998</option><option value="1997">1997</option><option value="1996">1996</option><option value="1995">1995</option><option value="1994">1994</option><option value="1993">1993</option><option value="1992">1992</option><option value="1991">1991</option><option value="1990">1990</option><option value="1989">1989</option><option value="1988">1988</option><option value="1987">1987</option><option value="1986">1986</option><option value="1985">1985</option><option value="1984">1984</option><option value="1983">1983</option><option value="1982">1982</option><option value="1981">1981</option><option value="1980">1980</option><option value="1979">1979</option><option value="1978">1978</option><option value="1977">1977</option><option value="1976">1976</option><option value="1975">1975</option><option value="1974">1974</option><option value="1973">1973</option><option value="1972">1972</option><option value="1971">1971</option><option value="1970">1970</option><option value="1969">1969</option><option value="1968">1968</option><option value="1967">1967</option><option value="1966">1966</option><option value="1965">1965</option><option value="1964">1964</option><option value="1963">1963</option><option value="1962">1962</option><option value="1961">1961</option><option value="1960">1960</option><option value="1959">1959</option><option value="1958">1958</option><option value="1957">1957</option><option value="1956">1956</option><option value="1955">1955</option><option value="1954">1954</option><option value="1953">1953</option><option value="1952">1952</option><option value="1951">1951</option><option value="1950">1950</option><option value="1949">1949</option><option value="1948">1948</option><option value="1947">1947</option><option value="1946">1946</option><option value="1945">1945</option><option value="1944">1944</option><option value="1943">1943</option></select>					</td>
				</tr>
				<tr>
					<td align="right"><strong>Giới tính
				    <label class="hoathi" >&#42;</label> 
				    </strong></td>
					<td>
						<select name="cbxGioiTinh" class="left" required="required">
							<option value="">...</option>
							<option value="Nam">Nam</option>
							<option value="Nữ">Nữ</option>
						</select>					</td>
				</tr>
				<tr>
					<td align="right"><strong>Ảnh đại diện</strong></td>
					<td><input style="width:250px;border:1px solid #7F9DB9" class="txt left" type="file" name="flogo" value="{LinkAnhDaiDien}"/>&#32;Kích cỡ file <=1MB(jpeg,jpg,png)</td>
			  </tr>
				<tr>
					<td align="right"><strong>Tình trạng hôn nhân
				    <label class="hoathi" >&#42;</label> 
				    </strong></td>
					<td><select name="cbxTTHonNhan" class="left" required="required">
							<option value="">...</option>
							<option value="Độc thân">Độc thân</option>
							<option value="Đã kết hôn">Đã kết hôn</option>
						</select>					</td>
				</tr>
				
				<tr>
					<td align="right"><strong>Địa chỉ
				    <label class="hoathi" >&#42;</label> 
				    </strong></td>
					<td><input style="width:300px;" class="txt left" type="text" name="txtDiaChi" value="{DiaChi}" required="required"/></td>
				</tr>

				<tr>
					<td align="right"><strong>Điện thoại
				    <label class="hoathi" >&#42;</label> 
				    </strong></td>
					<td><input class="txt left" type="text" name="txtDienThoai" value="{DTLienHe}" required="required"/></td>
				</tr>
				<tr>
					<td><input class="button" type="submit" value="Đăng ký"/></td>
					<td><input class="button" type="reset" value="Làm lại"/></td>
				</tr>
			</table>
		</form>
	</div>
<!--END: SIGNUP-->