<!--BEGIN: CONTENT-->
	<div class="timkiem">{timkiem}</div>
	<div id="left_content" class="left">{left_content}</div>
	<div id="right_content" class="right">{right_content}</div>
	<div class="clear"></div>
<!--END: CONTENT-->