<!--BEGIN: FOOTER-->
		<p>Copyright &copy;2013 by <strong>Nguyễn Thành Trung - Lớp: Tin học B - K53</strong></p>
		<p>Bộ môn: Công nghệ phần mềm - Khoa: Công nghệ thông tin</p>
		<p>Trường Đại học Nông nghiệp Hà Nội</p> 
<!--END: FOOTER-->