<!--BEGIN: MENU-->
	<ul>
		<li><a href="{baseUrl}/employer/?m=layout&a=left_content" >TRANG CHỦ</a></li>
		<li><a href="{baseUrl}/employer/?m=job&a=create_job">ĐĂNG TUYỂN DỤNG</a></li>
		<li><a href="{baseUrl}/employer/?m=job&a=lst_job">QUẢN LÝ ĐĂNG TUYỂN</a></li>
		<li><a href="{baseUrl}/employer/?m=saved_resumes&a=lst_saved_resumes">HỒ SƠ ĐÃ LƯU</a></li>
		<li><a href="{baseUrl}/employer/?m=received_resume&a=lst_received_resume&MaVL={MaVL}">HỒ SƠ ĐÃ NHẬN</a></li>
		<li><a href="{baseUrl}/employer/?m=notice&a=lst_notice">QUẢN LÝ THÔNG BÁO</a></li>
	</ul>
<!--END: MENU-->