<!--BEGIN: RIGHT_CONTENT-->
<div id="tructuyen" class="box">
	<h3>Tư vấn trực tuyến</h3>	
	<div align="center">
		<ul>
		<!-- BEGIN: LS -->
			<li>
			<a href="ymsgr:sendim?{LS.yahoo}">
				<img vspace="5" alt="" src="http://opi.yahoo.com/online?u={LS.yahoo}&amp;m=g&amp;t=1&amp;l=us"></a> 
			<a id="support3" href="callto:{LS.skype}">
				<img style="margin-left:7px; margin-right:7px;" src="img/skype.png">
			</a>
				<img src="img/holine.png">
				<span class="hotline">{LS.Dienthoai}</span>
			</li>
		<!-- END: LS -->
		</ul>
	</div>
</div>
<div class="adv">
	<h3>Liên kết</h3>
	<a href="#"><img class="img_adv" src="{baseUrl}/job_seeker/img/logo_hua.gif"/></a>
	<a rel="nofollow" title="FOIS" href="http://www.bse-edu.com/">
      <img class="img_adv" border="0" width="300" height="157" src="http://www.careerlink.vn/file/065d88676460f47d99ec59263c650f54" class="image"><br>
    </a>
</div>
<!--END: RIGHT_CONTENT-->