<!--BEGIN: LST_RESUME-->
	<div id="lst_resume" class="box">
		<h3>Tủ hồ sơ</h3>
		<form>
			<table>
				<thead>
				
					<tr>
						<th><input type="checkbox" name="masCheck" onclick="checkAll()" id="masCheck"  /></th>
						<th>Tiêu đề</th>
						<th>Ngày sửa đổi</th>
						<th>Số lượt xem</th>
						<th>Trạng thái</th>
						<th>Đăng tuyển</th>
						<th>Sửa</th>
						<th>Xóa</th>
						
					</tr>
				</thead>
				<tbody>
				 <!-- BEGIN: LS -->
					<tr>
						<td align="center"><input type="checkbox" value="{LS.MaVL}" name="ick[]" /></td>
						<td ><a href="?m=job&amp;a=detail_job&amp;id={LS.MaVL}">{LS.TieuDe}</a></td>
						<td align="center">{LS.NgaySuaDoi}</td>
						<td align="center">{LS.LuotXem}</td>
						<td align="center">{LS.TrangThai}</td>
						<td align="center"><a href="javascript:void(0)" onclick="onUpdateOne({LS.MaVL},'{LS.TieuDe}','job')" title="Đăng hồ sơ"><img src="{baseUrl}/employer/img/i_active.png"/></a></td>
						<td align="center"><a href="?m=job&amp;a=edit_job&amp;id={LS.MaVL}" title="Sửa"><img src="{baseUrl}/employer/img/i_edit.png"/></a></td>
						<td align="center"><a href="javascript:void(0)" onclick="onDelOne({LS.MaVL},'{LS.TieuDe}','job')" title="Xóa" ><img src="{baseUrl}/employer/img/i_delete.png" /></a></td>
					</tr>
				 <!-- END: LS -->
				 	<!-- BEGIN: NI -->
					<tr>
						<td class="nullInfo" colspan="7">{nullInfo}</td>
					</tr>
					<!-- END: NI -->
				</tbody>
				<tfoot>
					<tr>
						<td colspan="7" align="right">
							<input class="button" type="button" value="Tạo hồ sơ mới" onclick="onAdd('?m=job&a=create_job')" />
							<input type="button" class="button" value="Xóa" onclick="onDelAll('job')" />
						</td>
					</tr>
				</tfoot>
			</table>
		</form>
	</div>
<!--END: LST_RESUME-->