<!--BEGIN: DETAIL_RESUME-->
	<div id="detail_resume" class="box">
		<h3>Thông tin hồ sơ xin việc</h3>
		<label>{TieuDe}</label>
		<table>
			
			<tr>
				<th colspan="2"><h4>Thông tin cá nhân</h4></th>
			</tr>
			<tr>
				<td align="right" class="blue">Họ và tên: </td><td>{TenNTV}</td>
			</tr>
			<tr>
				<td align="right" class="blue">Ngày sinh: </td><td>{NgaySinh}</td>
			</tr>
			<tr>
				<td align="right" class="blue">Giới tính: </td><td>{GioiTinh}</td>
			</tr>
			<tr>
				<td align="right" class="blue">Tình trạng hôn nhân: </td><td>{TinhTrangHonNhan}</td>
			</tr>
			
			
			<tr>
				<th colspan="2"><h4>Thông tin học vấn</h4></th>
			</tr>
			<tr>
				<td align="right" class="blue">{LoaiBC}:</td><td>{ChuyenNganh}</td>
			</tr>
			<tr>
				<td align="right" class="blue">Nơi cấp {LoaiBC}</td><td>{NoiDaoTao}</td>
			</tr>
			<tr>
				<td align="right" class="blue">Thời gian học từ:</td><td>{NgayBatDau} Đến {NgayKetThuc}</td>
			</tr>
			<tr>
				<td align="right" class="blue">Xếp loại:</td><td>{XepLoai}</td>
			</tr>
			<tr>
				<td align="right" class="blue">Quá trình học:</td><td>{MoTa}</td>
			</tr>
			
			
			
			<tr>
				<th colspan="2"><h4>Kinh nghiệm cá nhân</h4></th>
			</tr>
			<tr>
				<td align="right" class="blue">Số năm kinh nghiệm:</td><td>{ThoiGianLamViec}</td>
			</tr>
			<tr>
				<td align="right" class="blue">Công ty:</td><td>{CongTy}</td>
			</tr>
			<tr>
				<td align="right" class="blue">Tại vị trí:</td><td>{ViTri}</td>
			</tr>
			<tr>
				<td align="right" class="blue">Nhiệm vụ chính:</td><td>{NhiemVuChinh}</td>
			</tr>
			<tr>
				<td align="right" class="blue">Thành tích đã đạt được:</td><td>{ThanhTich}</td>
			</tr>
			
			
			<tr>
				<th colspan="2"><h4>Kĩ năng </h4></th>
			</tr>
			<tr>
				<td align="right" class="blue">Kĩ năng chuyên môn:</td><td>{KiNangChuyenMon}</td>
			</tr>
			<tr>
				<td align="right" class="blue">Kĩ năng khác:</td><td>{KiNangKhac}</td>
			</tr>
			
			
			<tr>
				<th colspan="2"><h4>Công việc mong muốn </h4></th>
			</tr>
			<tr>
				<td align="right" class="blue">Ngành nghề:</td><td>{TenNganh}</td>
			</tr>
			<tr>
				<td align="right" class="blue">Nơi làm việc:</td><td>{TenTT}</td>
			</tr>
			<tr>
				<td align="right" class="blue">Loại việc làm:</td><td>{LoaiCV}</td>
			</tr>
			<tr>
				<td align="right" class="blue">Mức lương mong muốn:</td><td>{DVTinhLuong}&#32;{DVTinhLuong}</td>
			</tr>
			<tr>
				<td align="right" class="blue">Vị trí mong muốn:</td><td>{ViTriMM}</td>
			</tr>
			<tr>
				<td  align="right" class="blue">Mục tiêu nghề nghiệp:</td><td>{MucTieuNgheNghiep}</td>
			</tr>
			<tr>
				<td align="right" class="blue">Đi công tác:</td><td>{DiCongTac}</td>
			</tr>
			
			
			
			<tr>
				<th colspan="2"><h4>Thông tin liên hệ</h4></th>
			</tr>
			<tr>
				<td align="right" class="blue">Địa chỉ liên hệ:</td><td>{DiaChi}</td>
			</tr>
			<tr>
				<td align="right" class="blue">Điện thoại:</td><td>{DTLienHe}</td>
			</tr>
			<tr>
				<td align="right" class="blue">E-Mail:</td><td><a href="mailto:{Email}" style="text-decoration:underline">{Email}</a></td>
			</tr>
			<tr>
				<td align="right" class="blue">E-Mail:</td><td><a href="mailto:{Email}" style="text-decoration:underline">{Email}</a></td>
			</tr>
			<tr>
				<td align="right" colspan="2" height="50px" ><a class="button">Gửi thông báo</a></td>
			</tr>
		</table>
	</div>

<!--BEGIN: DETAIL_RESUME-->
