<!--BEGIN: LST_RESUME-->
	<div id="lst_resume" class="box">
		<h3>Danh sách hồ sơ</h3>
		<form>
			<table>
				<thead>
				
					<tr>
						<th><input type="checkbox" name="masCheck" onclick="checkAll()" id="masCheck"  /></th>
						<th>Ứng viên</th>
						<th>Tiêu đề HS</th>
						<th>Nơi làm việc</th>
						
						<th>Ngày đăng</th>
						<th>Lượt xem</th>
					</tr>
				</thead>
				<tbody>
				 <!-- BEGIN: LS -->
					<tr>
						<td align="center"><input type="checkbox" {LS.hide} value="{LS.MaHS}" name="ick[]" /></td>
						<td ><a href="?m=resume&amp;a=detail_resume&amp;id={LS.MaHS}">{LS.TenNTV}</a></td>
						<td align="left"><a href="?m=resume&amp;a=detail_resume&amp;id={LS.MaHS}" title="{LS.TieuDe}">{LS.TieuDe}</a></td>
						<td align="left">{LS.TenTT}</td>
						
						<td align="center">{LS.NgayDang}</td>
						<td align="center">{LS.LuotXem}</td>
					</tr>
				 <!-- END: LS -->
				 	<!-- BEGIN: NI -->
					<tr>
						<td class="nullInfo" colspan="7">{nullInfo}</td>
					</tr>
					<!-- END: NI -->
				</tbody>
				<tfoot>
					<tr>
					<tr>
						<td colspan="7" align="center" style="padding-top:10px;" valign="middle"><span>{pagers}</span> </td>
					</tr>
						<td colspan="7" align="right">
							<input class="button" type="button" value="Lưu" onclick="onSaveAll('resume')" />
						</td>
					</tr>
					
				</tfoot>
			</table>
		</form>
	</div>
<!--END: LST_RESUME-->
