
<!--BEGIN: EDIT_RESUME-->
		<h2 class="_title">Sửa hồ sơ</h2>	
		<form method="post">
		<span style="margin:10px; padding:10px; display:block;border-bottom:1px dashed #0000CC; color:#000000">   Lưu ý: Các trường đánh dấu <label class="hoathi" >&#42;</label>  là bắt buộc phải nhập!</span>
		<label class="err">{errMes}</label>
		<label  class="_title _label">Tiêu đề: </label>
		<input type="text" name="txtTieuDe"  value="{TieuDe}" style="width:300px;"/>	
		<table style="color:#000000">
			<tr>
				<th colspan="2">Thông tin cá nhân</th>	
			</tr>
			
			<tr>
				<td class="txtright" ><strong>Họ và Tên: </strong></td>
				<td>{TenNTV}</td>
			</tr>
			<tr>
				<td class="txtright"><strong>Ngày sinh: </strong></td>
				<td>{NgaySinh}</td>
			</tr>
			<tr>
				<td class="txtright"><strong>Giới tính: </strong></td>
				<td>{GioiTinh}</td>
			</tr>
			<tr>
				<td class="txtright"><strong>Tình trạng hôn nhân: </strong></td>
				<td>{TinhTrangHonNhan}</td>
			</tr>
			<tr>
				<td class="txtright"><strong>Địa chỉ: </strong></td>
				<td>{DiaChi}</td>
			</tr>
			<tr>
				<td class="txtright"><strong>Điện thoại liên hệ: </strong></td>
				<td>{DTLienHe}</td>
			</tr>
			<tr>
				<td class="txtright"><strong>Địa chỉ Email: </strong></td>
				<td>{Email}</td>
			</tr>
			
			
			<!---------------HỌC VẤN-------------->
			
			<tr>
				<th colspan="2">Thông tin học vấn</th>	
			</tr>
			<tr>
				<td class="txtright"><strong>Trình độ học vấn
			    <label class="hoathi" >&#42;</label>
				</strong></td>
				<td >
					<select name="cbxhocvan">
						<option value="{LoaiBC}">{LoaiBC}</option>
						<option value="PTCS">PTCS</option>
						<option value="Trung học">Trung học</option>
						<option value="Chứng chỉ">Chứng chỉ</option>
						<option value="Trung Cấp">Trung Cấp</option>
						<option value="Cao đẳng">Cao đẳng</option>
						<option value="Cử nhân">Cử nhân</option>
						<option value="Kỹ sư">Kỹ sư</option>
						<option value="Bác sĩ">Bác sĩ</option>
						<option value="Thạc sĩ">Thạc sĩ</option>
						<option value="Tiến sĩ">Tiến sĩ</option>
					</select>
				</td>
			</tr>
			<tr>
				<td class="txtright"><strong>Nơi đào tạo
			    <label class="hoathi" >&#42;</label> 
			    </strong></td>
				<td><input type="text" name="txtNoiDaoTao" value="{NoiDaoTao}" class="textBox"/></td>
			</tr>
			<tr>
				<td class="txtright"><strong>Chuyên ngành
			    <label class="hoathi" >&#42;</label> 
			    </strong></td>
				<td><input type="text" name="txtChuyenNganh" value="{ChuyenNganh}" class="textBox"/></td>
			</tr>
			<tr>
				<td class="txtright"><strong>Bắt đầu từ
			    <label class="hoathi" >&#42;</label> 
			    </strong></td>
				<td>
					<script language="JavaScript" type="text/javascript">
                  function setBirthYear(targetSel){
                    target = $(targetSel);
                    if(target.val() == "") {
                      target.val(1980);
                    }
                  }
		
                </script>
                <select id="cbxthangBD" name="cbxthangBD"><option value="{txtthangbd}">{txtthangbd}</option><option value="1">Tháng 1</option><option value="2">Tháng 2</option><option value="3">Tháng 3</option><option value="4">Tháng 4</option><option value="5">Tháng 5</option><option value="6">Tháng 6</option><option value="7">Tháng 7</option><option value="8">Tháng 8</option><option value="9">Tháng 9</option><option value="10">Tháng 10</option><option value="11">Tháng 11</option><option value="12">Tháng 12</option></select>
                <select id="cbxnamBD" name="cbxnamBD" onclick="setBirthYear(this);"><option value="{txtnambd}">{txtnambd}</option><option value="2013">2013</option><option value="2012">2012</option><option value="2011">2011</option><option value="2010">2010</option><option value="2009">2009</option><option value="2008">2008</option><option value="2007">2007</option><option value="2006">2006</option><option value="2005">2005</option><option value="2004">2004</option><option value="2003">2003</option><option value="2002">2002</option><option value="2001">2001</option><option value="2000">2000</option><option value="1999">1999</option><option value="1998">1998</option><option value="1997">1997</option><option value="1996">1996</option><option value="1995">1995</option><option value="1994">1994</option><option value="1993">1993</option><option value="1992">1992</option><option value="1991">1991</option><option value="1990">1990</option><option value="1989">1989</option><option value="1988">1988</option><option value="1987">1987</option><option value="1986">1986</option><option value="1985">1985</option><option value="1984">1984</option><option value="1983">1983</option><option value="1982">1982</option><option value="1981">1981</option><option value="1980">1980</option><option value="1979">1979</option><option value="1978">1978</option><option value="1977">1977</option><option value="1976">1976</option><option value="1975">1975</option><option value="1974">1974</option><option value="1973">1973</option><option value="1972">1972</option><option value="1971">1971</option><option value="1970">1970</option><option value="1969">1969</option><option value="1968">1968</option><option value="1967">1967</option><option value="1966">1966</option><option value="1965">1965</option><option value="1964">1964</option><option value="1963">1963</option><option value="1962">1962</option><option value="1961">1961</option><option value="1960">1960</option><option value="1959">1959</option><option value="1958">1958</option><option value="1957">1957</option><option value="1956">1956</option><option value="1955">1955</option><option value="1954">1954</option><option value="1953">1953</option><option value="1952">1952</option><option value="1951">1951</option><option value="1950">1950</option><option value="1949">1949</option><option value="1948">1948</option><option value="1947">1947</option><option value="1946">1946</option><option value="1945">1945</option><option value="1944">1944</option><option value="1943">1943</option></select>
				</td>
			</tr>
			<tr>
				<td class="txtright"><strong>Kết thúc
			    <label class="hoathi" >&#42;</label> 
			    </strong></td>
				<td>
						  
                <select id="cbxthangKT" name="cbxthangKT" ><option value="{txtthangkt}">{txtthangkt}</option><option value="1">Tháng 1</option><option value="2">Tháng 2</option><option value="3">Tháng 3</option><option value="4">Tháng 4</option><option value="5">Tháng 5</option><option value="6">Tháng 6</option><option value="7">Tháng 7</option><option value="8">Tháng 8</option><option value="9">Tháng 9</option><option value="10">Tháng 10</option><option value="11">Tháng 11</option><option value="12">Tháng 12</option></select>
                <select id="cbxnamKT" name="cbxnamKT"  onclick="setBirthYear(this);"><option value="{txtnamkt}">{txtnamkt}</option><option value="2013">2013</option><option value="2012">2012</option><option value="2011">2011</option><option value="2010">2010</option><option value="2009">2009</option><option value="2008">2008</option><option value="2007">2007</option><option value="2006">2006</option><option value="2005">2005</option><option value="2004">2004</option><option value="2003">2003</option><option value="2002">2002</option><option value="2001">2001</option><option value="2000">2000</option><option value="1999">1999</option><option value="1998">1998</option><option value="1997">1997</option><option value="1996">1996</option><option value="1995">1995</option><option value="1994">1994</option><option value="1993">1993</option><option value="1992">1992</option><option value="1991">1991</option><option value="1990">1990</option><option value="1989">1989</option><option value="1988">1988</option><option value="1987">1987</option><option value="1986">1986</option><option value="1985">1985</option><option value="1984">1984</option><option value="1983">1983</option><option value="1982">1982</option><option value="1981">1981</option><option value="1980">1980</option><option value="1979">1979</option><option value="1978">1978</option><option value="1977">1977</option><option value="1976">1976</option><option value="1975">1975</option><option value="1974">1974</option><option value="1973">1973</option><option value="1972">1972</option><option value="1971">1971</option><option value="1970">1970</option><option value="1969">1969</option><option value="1968">1968</option><option value="1967">1967</option><option value="1966">1966</option><option value="1965">1965</option><option value="1964">1964</option><option value="1963">1963</option><option value="1962">1962</option><option value="1961">1961</option><option value="1960">1960</option><option value="1959">1959</option><option value="1958">1958</option><option value="1957">1957</option><option value="1956">1956</option><option value="1955">1955</option><option value="1954">1954</option><option value="1953">1953</option><option value="1952">1952</option><option value="1951">1951</option><option value="1950">1950</option><option value="1949">1949</option><option value="1948">1948</option><option value="1947">1947</option><option value="1946">1946</option><option value="1945">1945</option><option value="1944">1944</option><option value="1943">1943</option></select>
				</td>
			</tr>
			<tr>
				<td class="txtright"><strong>Xếp loại
			    <label class="hoathi" >&#42;</label> 
			    </strong></td>
				<td><input type="text" name="txtXepLoai" value="{XepLoai}" class="textBox"/></td>			
			</tr>
			<tr>
				<td class="txtright"><strong>Quá trình học tập: </strong></td>
				<td>
					<textarea name="txtaMoTa" cols="70" rows="10" >{MoTa}</textarea>
				</td>			
			</tr>
			
			
			
			
			
			<!-----------------KINH NGHIEM---------------->
			
			<tr>
				<th colspan="2">Kinh nghiệm làm việc</th>
			
			</tr>
			<script type="text/javascript">
				function OnEnable(target) {
					var val = target.value;
					if(val!="Dưới 1 năm" && val!=""){
						document.getElementById("txtCongty").disabled=false;
						
						document.getElementById("txtVitri").disabled=false;
						
						document.getElementById("txtNhiemvu").disabled=false;
						
						document.getElementById("txtaThanhTich").disabled=false;
						
						
					}else{
						document.getElementById("txtCongty").disabled=true;
						document.getElementById("txtCongty").value="";
						document.getElementById("txtVitri").disabled=true;
						document.getElementById("txtVitri").value="";
						document.getElementById("txtNhiemvu").disabled=true;
						document.getElementById("txtNhiemvu").value="";
						document.getElementById("txtaThanhTich").disabled=true;
						document.getElementById("txtaThanhTich").value="";
					}
				  }
			</script>
			<tr>
				<td class="txtright">Kinh nghiệm<label class="hoathi" ></td>
				<td colspan="2">
					<select name="cbxThoiGianLamViec" id="cbxThoiGianLamViec" onchange="OnEnable(this);">
						<option value="{ThoiGianLamViec}">{ThoiGianLamViec}</option>
						<option value="Dưới 1 năm">Dưới 1 năm</option>
						<option value="1 năm">1 năm</option>
						<option value="2 năm">2 năm</option>
						<option value="3 năm">3 năm</option>
						<option value="4 năm">4 năm</option>
						<option value="5 năm">5 năm</option>
						<option value="Trên 5 năm">Trên 5 năm</option>
					</select>
				</td>
			</tr>
			<tr>
				<td class="txtright"><strong>Công ty đã làm</strong></td>
				<td><input type="text" name="txtCongty" id="txtCongty" value="{CongTy}" class="textBox"/></td>
			</tr>
			<tr>
				<td class="txtright"><strong>Vị Trí</strong></td>
				<td><input type="text" name="txtVitri" id="txtVitri" value="{ViTri}" class="textBox"/></td>
			</tr>
			
			<tr>
				<td class="txtright"><strong>Nhiệm vụ chính</strong></td>
				<td><input type="text" name="txtNhiemvu" id="txtNhiemvu" value="{NhiemVuChinh}" class="textBox"/></td>
			</tr>
			
			<tr>
				<td align="right"><strong>Thành tích đạt được</strong></td>
				<td align="left"><textarea cols="70" rows="10" name="txtaThanhTich" id="txtaThanhTich" >{ThanhTich}</textarea></td>
			</tr>
			
			
			<!-----KỸ NĂNG LÀM VIỆC---->
			<tr>
				<th colspan="2">Kĩ năng</th>
			
			</tr>
			<tr>
				<td class="txtright"><strong>Kĩ năng chuyên môn
			    <label class="hoathi" >&#42;</label>
				</strong></td>
				<td><textarea name="txtaKNChuyenMon" cols="70" rows="10" >{KiNangChuyenMon}</textarea></td>
			</tr>
			<tr>
				<td class="txtright"><strong>Kĩ năng khác:</strong></td>
				<td><textarea name="txtaKNkhac" cols="70" rows="10" >{KiNangKhac}</textarea></td>
			</tr>
			
			
			
			<!-----MỤC TIÊU NGHỀ NGHIỆP--->
			<tr>
				<th colspan="2">Công việc mong muốn</th>
			</tr>
			<tr>
				<td class="txtright"><strong>Ngành nghề
			    <label class="hoathi" >&#42;</label>
				</strong></td>
				<td>{lstNganhNghe}</td>
			</tr>
			<tr>
			
				<td class="txtright"><strong>Nơi làm việc
			    <label class="hoathi" >&#42;</label>
				</strong></td>
				<td>{lstTinhThanh}</td>
			</tr>
			
			<tr>
				<td class="txtright"><strong>Loại công việc
			    <label class="hoathi" >&#42;</label>
				</strong></td>
				<td>
					<select name="cbxLoaiCVMM">
						<option value="{LoaiCV}">{LoaiCV}</option>
						<option value="Sinh viên thực tập">Sinh viên thực tập</option>
						<option value="Bán thời gian cố định">Bán thời gian cố định</option>
						<option value="Bán thời gian tạm thời">Bán thời gian tạm thời</option>
						<option value="Toàn thời gian cô định">Toàn thời gian cố định</option>
						<option value="Toàn thời gian tạm thời">Toàn thời gian tạm thời</option>
					</select>
				</td>
			</tr>
			<tr>
				<td class="txtright"><strong>Vị trí mong muốn
			    <label class="hoathi" >&#42;</label>
				</strong></td>
				<td><input type="text" name="txtVitriMM" value="{ViTriMM}" class="textBox"/></td>
			</tr>
			<tr>
				<td class="txtright"><strong>Mức lương mong muốn
			    <label class="hoathi" >&#42;</label>
				</strong></td>
				<td><input type="text" value="{MucLuong}" name="txtMucLuong" id="txtMucLuong" class="textBox"/><span class="txtMucLuong"> Đơn vị tính:<label class="hoathi" >&#42;</label></span>
				<select name="cbxDVTinhLuong" id="cbxDVTinhLuong" onchange="Luong();">
						<option value="{DVTinhLuong}">{DVTinhLuong}</option>
						<option value="Thỏa thuận">Thỏa thuận</option>
						<option value="VND" selected="selected">VND</option>
						<option value="USD">USD</option>
				</select>
				<script language="javascript" type="text/javascript">
					function Luong(){
						var value=$('#cbxDVTinhLuong').val();
						if(value=='Thỏa thuận'|| value==""){
							$('.txtMucLuong').val("");
							$('.txtMucLuong').hide();
						}else{
							$('.txtMucLuong').show();
						}
					}
				</script>
				</td>
			</tr>
			<tr>
				<td class="txtright"><strong>Mục tiêu nghề nghiệp:</strong></td>
				<td><input type="text" name="txtMuctieu" value="{MucTieuNgheNghiep}" class="textBox"/></td>
			</tr>
			<tr>
				<td class="txtright"><strong>Có thể đi công tác
			    <label class="hoathi" >&#42;</label>
				</strong></td>
				<td>
					<select name="cbxCongtac">
						<option value="{DiCongTac}">{DiCongTac}</option>
						<option value="Có">Có</option>
						<option value="Không">Không</option>
					</select>
				</td>
			</tr>
			<tr>
				<td align="center" colspan="2">
				<input class="button add" style="width:100px; height:auto" type="submit" value="Lưu"/>
				<input class="button" style="width:100px; height:auto" type="reset" value="Làm lại"/></td>
			</tr>
		</table>
		</form>
<!--END: EDIT_RESUME-->