

<!-- BEGIN: BLS -->	
	<form method="post">
	<div class="_title" style="width:100%"><h2 style="color:#000066"> Danh sách hồ sơ ứng viên</h2></div>
	<div style="float:left; color:#000000; padding-left:20px;">Tìm kiếm: 
		<input type="text" name="txtkeyword" value="" />
		<input type="submit" class="button" value="Tìm"/>
	</div>
	<div class="head_list">
	<input type="button" class="button update" value="Đăng" onclick="onUpdateAll('resumes')" />
	</div>
	<table align="center">
    	<thead>
        	<tr>
            	<th width="3%">Nbr</th>
                <th width="20%" >Tiêu đề</th>
                <th>Ứng viên</th>
                <th width="30%">Kĩ năng</th>
				<th>Ngành nghề MM</th>
				<th width="8%">Trạng thái</th>
                <th colspan="2">Action</th>
                <th><input type="checkbox" name="masCheck" onclick="checkAll()" id="masCheck"  /></th>
            </tr>
        </thead>
        <tbody>
        	
            <!-- BEGIN: LS -->
            <tr >
            	<td >{LS.nbr}</td>
                <td>{LS.TieuDe}</td>
                <td>{LS.TenNTV}</td>
				<td>{LS.KiNangChuyenMon}</td>
				<td>{LS.TenNganh}</td>
				<td>{LS.TrangThai}</td>
				<td align="center"><a href="./?m=resumes&amp;a=edit&amp;id={LS.MaHS}" class="table-icon edit"  title="Edit"></a></td>
                <td align="center"><a href="javascript:void(0)" onclick="onUpdateOne({LS.MaHS},'{LS.TieuDe}','resumes')" class="update"  title="Đăng" ></a></td>
                <td align="center"><input type="checkbox" value="{LS.MaHS}" name="ick[]" /></td>
            </tr>
            <!-- END: LS -->
            <!-- BEGIN: NI -->
            <tr>
            	<td class="nullInfo" colspan="10">{nullInfo}</td>
            </tr>
            <!-- END: NI -->
        </tbody>
		<tfoot>
			<tr>
				<td colspan="10"><span>{pagers}</span> </td>
			</tr>
		</tfoot>
    </table>
	</form>
<!-- END: BLS -->