<!-- BEGIN: LEFT_CONTENT -->
	<div id="hot_job" class="box">
			<h3>Việc làm hấp dẫn</h3>
			<ul>
				<!-- BEGIN: HOT_JOB -->
				<li >
					<a href="?m=job&amp;a=detail_job&amp;id={HOT_JOB.MaVL}" title="{HOT_JOB.TieuDe}" style="font-weight:bold">{HOT_JOB.TieuDe}</a><br/>
					<a href="" title="{HOT_JOB.TenNTD}" style="color:#999999;">{HOT_JOB.TenNTD}</a>
				</li>
            	<!-- END: HOT_JOB -->
			</ul>
	</div>
	<div id="lstnganhnghe" class="box">
			<h3>Tìm theo Ngành Nghề</h3>
			<ul>
				<!-- BEGIN: NGANH -->
				<li >
					<a href="?m=job&a=lst_job&MaNganh={NGANH.MaNganh}&p=1" title="{NGANH.TenNganh}" style="font-weight:bold">{NGANH.TenNganh}</a><br/>
            	<!-- END: NGANH -->
			</ul>
	</div>
	
<!-- END: LEFT_CONTENT -->