<!--BEGIN: MENU-->
	<ul>
		<li><a href="{baseUrl}/job_seeker/?m=layout&a=left_content" >TRANG CHỦ</a></li>
		<li><a href="{baseUrl}/job_seeker/?m=resume&a=create_resume">TẠO HỒ SƠ</a></li>
		<li><a href="{baseUrl}/job_seeker/?m=resume&a=lst_resume">TỦ HỒ SƠ</a></li>
		<li><a href="{baseUrl}/job_seeker/?m=saved_jobs&a=lst_saved_jobs&p=1">VIỆC LÀM ĐÃ LƯU</a></li>
		<li><a href="{baseUrl}/job_seeker/?m=notice&a=list">XEM THÔNG BÁO</a></li>
	</ul>
<!--END: MENU-->