<!--BEGIN: TIMKIEM -->
	<form method="post" action="?m=job&a=search" name="frm">
		<div class="left">
		TÌM KIẾM: 
		<input class="text" type="text"  name="txtKeyword" id="txtKeyword"value="{Keyword}" style="color:#000000;height:27px;padding-left:5px;" />
		<span class="text">{nganhnghe}</span>
		<span class="text">{tinhthanh}</span>
		</div>
		<input type="submit" id="btntimkiem" value="" onclick="return checkJobSeekerForm(true);"/>
		
		<div class="clear"></div>
	</form>
<!--END: TIMKIEM -->