<!--BEGIN: DETAIL_JOB-->
	<div id="detail_resume" class="box">
		<h3>Thông tin hồ sơ xin việc</h3>
		<label>{TieuDe}</label>
		<table>
			
			
			<!-----------------------THONG TIN CONG TY--------------------->
			<tr>
				<th colspan="3"><h4>Thông tin công ty</h4></th>	
			</tr>
			<tr>
				<td width="121" rowspan="3" align="center"  style="padding:10px"><img style="border:1px solid #666666;" src="{baseUrl}/employer/img/logo_employer/{LogoLink}" width="100px"/></td>
				
				<td align="right" width="100"><strong>Tên công ty: </strong></td>
				<td width="335"  align="left">{TenNTD}</td>
			</tr>
			<tr>
				<td align="right" width="100"><strong>Website: </strong></td>
				<td align="left"><a href="{Website}" style="color:#FF6600">{Website}</a></td>
			</tr>
			<tr>
				<td align="right" width="100" ><strong>Số nhân viên: </strong></td>
				<td align="left">{QuyMo}</td>
			</tr>
			<tr>
				<td align="left" valign="top" ><strong>Sơ lược về công ty:</strong> </td>
				<td align="left" colspan="2">{SoLuocVeNTD}<</td>
			</tr>			
			
			<!--------------------MÔ TẢ CÔNG VIỆC----------------->
			<tr>
				<th colspan="3"><h4>Mô tả công việc</h4></th>
			</tr>
			<tr>	
				<td align="right"  valign="top"><strong>Ngành nghề:</strong></td>
				<td align="left" colspan="2">{TenNganh}</td>
			</tr>
			<tr>	
				<td align="right" valign="top" ><strong>Nơi làm việc:</strong></td>
				<td align="left" colspan="2">{TenTT}</td>
			</tr>
			<tr>	
				<td align="right" valign="top" ><strong>Số lượng tuyển:</strong></td>
				<td align="left" colspan="2">{SoLuongTuyen}</td>
			</tr>
			<tr>	
				<td align="right" valign="top" ><strong>Loại công việc:</strong></td>
				<td align="left" colspan="2">{LoaiVL}</td>
			</tr>
			<tr>	
				<td align="right"  valign="top"><strong>Vị trí:</strong></td>
				<td align="left" colspan="2">{ViTri}</td>
			</tr>
			<tr>	
				<td align="right" valign="top" ><strong>Lương:</strong></td>
				<td align="left" colspan="2">{MucLuong} {DVTinhLuong}</td>
			</tr>
			<tr>	
				<td align="right" valign="top" ><strong>Mô tả:</strong></td>
				<td align="left" colspan="2">{MoTa}</td>
			</tr>
			<tr>	
				<td align="right" valign="top" ><strong>Quyền lợi:</strong></td>
				<td align="left" colspan="2">{QuyenLoi}</td>
			</tr>
			
			
			
<!-----------------------YÊU CẦU --------------------->
			
			<tr>
				<th colspan="3"><h4>Yêu cầu công việc</h4></th>
			</tr>
			<tr>	
				<td align="right" valign="top" ><strong>Giới tính::</strong></td>
				<td align="left" colspan="2">{YCGioiTinh}</td>
			</tr>
			<tr>	
				<td align="right"  valign="top"><strong>Tuổi:</strong></td>
				<td align="left" colspan="2">{YCDoTuoi}</td>
			</tr>
			<tr>	
				<td align="right" valign="top" ><strong>Trình độ:</strong></td>
				<td align="left" colspan="2">{YCBangCap}</td>
			</tr>
			<tr>	
				<td align="right"  valign="top"><strong>Kĩ năng:</strong></td>
				<td align="left" colspan="2">{YCKiNangChuyenMon}</td>
			</tr>
			<tr>	
				<td align="right" valign="top" ><strong>Kinh nghiệm:</strong></td>
				<td align="left" colspan="2">{YCKinhNghiem}</td>
			</tr>
			<tr>	
				<td align="right"  valign="top"><strong>Yêu cầu khác:</strong></td>
				<td align="left" colspan="2">{YCKhac}</td>
			</tr>
			

<!-----------------------YÊU CẦU HÒ SƠ------------------>
			<tr>
				<th colspan="3"><h4>Yêu cầu hồ sơ </h4></th>
			</tr>
			<tr>	
				<td align="right" valign="top" ><strong>Hồ sơ bao gồm:</strong></td>
				<td align="left" colspan="2">{YCHoSo}</td>
			</tr>
			<tr>	
				<td align="right"  valign="top"><strong>Hình thức nộp:</strong></td>
				<td align="left" colspan="2">{HinhThucNop}</td>
			</tr>
			<tr>	
				<td align="right" valign="top" ><strong>Hạn nộp hồ sơ:</strong></td>
				<td align="left" colspan="2">{HanNopHS}</td>
			</tr>
			
			
<!-----------------------THÔNG TIN LIÊN HỆ------------------>
			<tr>
				<th colspan="3"><h4>Thông tin liên hệ </h4></th>
			</tr>
			<tr>	
				<td align="right"  valign="top"><strong>Người liên hệ:</strong></td>
				<td align="left" colspan="2">{TenNLH}</td>
			</tr>
			<tr>	
				<td align="right" valign="top" ><strong>E-Mail:</strong></td>
				<td align="left" colspan="2">{EmailNLH}</td>
			</tr>
			<tr>	
				<td align="right" valign="top" ><strong>Địa chỉ:</strong></td>
				<td align="left" colspan="2">{DiaChiNLH}</td>
			</tr>
			<tr>	
				<td align="right"  valign="top"><strong>Điện thoại:</strong></td>
				<td align="left" colspan="2">{SoDT}</td>
			</tr>
			<tr>
				<td align="right" colspan="2" height="50px" ><a href="?m=resume&a=send_resume&id={MaVL}" class="button">Nộp hồ sơ</a></td>
			</tr>
		</table>
	</div>

<!--BEGIN: DETAIL_JOB-->
