<!--BEGIN: LST_JOB-->
	<div id="lst_resume" class="box">
		<h3>Danh sách việc làm</h3>
		<form>
			<table>
				<thead>
				
					<tr>
						<th><input type="checkbox" name="masCheck" onclick="checkAll()" id="masCheck"  /></th>
						<th>Tiêu đề </th>
						<th>Công ty</th>
						<th>Nơi làm việc</th>
						<th>Ngày đăng</th>
						<th>Hạn nộp HS</th>
						<th>Lượt xem</th>
					</tr>
				</thead>
				<tbody>
				 <!-- BEGIN: LS -->
					<tr>
						<td align="center"><input type="checkbox" {LS.hide} value="{LS.MaVL}" name="ick[]" /></td>
						<td align="left" ><a href="?m=job&amp;a=detail_job&amp;id={LS.MaVL}">{LS.TieuDe}</a></td>
						<td align="left"><a href="?m=job&amp;a=detail_job&amp;id={LS.MaVL}" title="{LS.TenNTD}">{LS.TenNTD}</a></td>
						<td align="center">{LS.TenTT}</td>
						
						<td align="center">{LS.NgayDang}</td>
						<td align="center">{LS.HanNopHS}</td>
						<td align="center">{LS.LuotXem}</td>
					</tr>
				 <!-- END: LS -->
				 	<!-- BEGIN: NI -->
					<tr>
						<td class="nullInfo" colspan="7">{nullInfo}</td>
					</tr>
					<!-- END: NI -->
				</tbody>
				<tfoot>
					<tr>
					<tr>
						<td colspan="7" align="center" style="padding-top:10px;" valign="middle"><span>{pagers}</span> </td>
					</tr>
						<td colspan="7" align="right">
							<input class="button" type="button" value="Lưu" onclick="onSaveAll('job')" />
						</td>
					</tr>
					
				</tfoot>
			</table>
		</form>
	</div>
<!--END: LST_JOB-->
