<!-- BEGIN: SCR -->
    <script language="javascript" src="{baseUrl}/employer/js/jquery.1.8.3.js" type="text/javascript"></script>
	<script language="javascript" src="{baseUrl}/employer/js/myfunc.js" type="text/javascript"></script>
	<script language="javascript" src="{baseUrl}/employer/js/ckeditor/ckeditor.js" type="text/javascript"></script>
	<script language="javascript" src="{baseUrl}/employer/js/jqueryui/js/jquery-ui-1.9.2.custom.js" type="text/javascript"></script>
		<link rel="stylesheet" href="{baseUrl}/employer/css/style.css" type="text/css">
		<link rel="stylesheet" href="{baseUrl}/employer/js/jqueryui/css/ui-lightness/jquery-ui-1.9.2.custom.css" type="text/css">
	
<!-- END: SCR -->