<!-- BEGIN: EDIT -->
	<form method="post" name="frmAdd" >
	<h2 align="left" class="_title"> Sửa quảng cáo</h2><br />
    	<table width="98%" border="0">
		
          <tr>
            <td align="right">Tiêu đề</td>
            <td align="left"><input type="text" name="txtTile" size="80" class="textBox" value="{title}" /></td>
          </tr>
		  
		   <tr>
            <td align="right">Mô tả</td>
            <td align="left"><input width="400" height="200" type="text" name="txtDescription" size="80" class="textBox" value="{description}" />
			</td>
          </tr>
		  
          <tr>
            <td  align="right">Image</td>
            <td align="left"><input type="file" name="txtfile" size="60" value="{image}"  /></td>
          </tr>
		  
          <tr>
            <td  align="right">Link</td>
            <td align="left"><input type="text" name="txtLink" size="60" value="{link}"  />
			<br />Ví du: http://www.vidu.vn
			</td>
			
          </tr>
		  
          <tr>
            <td>&nbsp;</td>
            <td>
			<input class="button "  type="submit" value="Sửa"  />&nbsp;
			<input class="button "  type="reset" value="Làm lại" />
			</td>
          </tr>
		  
          <tr>
            <td colspan="2" style="color:red; list-style:none">{errMes}</td>
          </tr>
        </table>

    </form>
<!-- END: EDIT -->