

<!-- BEGIN: BLS -->	
	<div class="_title" style="width:100%"><h2 style="color:#000066"> Danh sách quảng cáo</h2></div>
	<div class="head_list">
	<input class="button add" type="button" value="ADD" onclick="onAdd('?m=advertisment&a=add')" />
	<input type="button" class="button cancel" value="DELETE" onclick="onDelAll('advertisment')" />
	</div>
	<table align="center">
    	<thead>
        	<tr>
            	<th width="5%">Nbr</th>
				<th>Image</th>
                <th>Tiêu đề</th>
                <th>Mô tả</th>
				<th>Link</th>
                <th colspan="2">Action</th>
                <th><input type="checkbox" name="masCheck" onclick="checkAll()" id="masCheck"  /></th>
            </tr>
        </thead>
        <tbody>
        	
            <!-- BEGIN: LS -->
            <tr >
            	<td >{LS.nbr}</td>
                <td><img src="img/advertising/{LS.image}" alt="Image" height="50" width="50"></td>
                <td>{LS.title}</td>
				<td>{LS.description}</td>
				<td><a href="{LS.link}">{LS.link}</a></td>
                <td align="center"><a href="./?m=advertisment&amp;a=edit&amp;id={LS.id}" class="table-icon edit"  title="Edit"></a></td>
                <td align="center"><a href="javascript:void(0)" onclick="onDelOne({LS.id},'{LS.title}','advertisment')" class="table-icon delete"  title="Delete" ></a></td>
                <td align="center"><input type="checkbox" value="{LS.id}" name="ick[]" /></td>
            </tr>
            <!-- END: LS -->
            <!-- BEGIN: NI -->
            <tr>
            	<td class="nullInfo" colspan="8">{nullInfo}</td>
            </tr>
            <!-- END: NI -->
        </tbody>
		<tfoot>
			<tr>
				<td colspan="8"><span>{pagers}</span> </td>
			</tr>
		</tfoot>
    </table>
<!-- END: BLS -->