<!--BEGIN: LOGIN-->
	<div class="login">
		<h3 >Hãy nhập Email và mật khẩu để đăng nhập!</h3><br/>
		<form method="post">
		<table style="margin-left:70px">
			<tr>
				<td class="right"><label>Email:</label></td>
				<td ><input class="txt left" type="text" name="txtLogin" value=""/></td>
			</tr>
			<tr>
				<td class="right">Mật khẩu:</td>
				<td ><input class="txt left" type="password" name="txtMatKhau" value="" /></td>
				<div class="clear"></div>
			</tr>
				
		</table>
		<p><a href="{baseUrl}/employer/?m=account&a=forgot_password">Quên mật khẩu</a> |  
		<a href="{baseUrl}/employer/?m=account&a=signup">Đăng ký</a> </p>
		<p><input class="button" type="submit" name="btnLogin" value="Đăng nhập"/>
		<input class="button" type="reset" value="Làm lại"/></p>
		<label class="err">{errMes}</label>
		</form>
	</div>

<!--END: LOGIN-->
