<!--BEGIN: SIGNUP-->
	<div class="signup">
		<form name="frmForm" method="post" enctype="multipart/form-data">
			<h3>Đăng ký tài khoản</h3>
			<p style="margin:10px; padding:10px; display:block;border-bottom:1px dashed #0000CC;">   Lưu ý: Các trường đánh dấu <label class="hoathi" >&#42;</label>  là bắt buộc phải nhập!</p>
			
			
			<table style="margin:20px auto">
				<tr>
					<td colspan="2" style="margin-left:50px;"><label class="err" >{errMes}</label>  </td>
				</tr>
				
				<tr>
					<td align="right"><strong>Email
				        <label class="hoathi" >&#42;</label>
                                        </strong></td>
					<td>
						<input style="width:250px;"  class="txt left" type="text" name="txtEmail" value="{Email}" required="required"/><div class="clear"></div>
						<label>Ví dụ: vieclamIT@vieclam.vn</label>
					</td>
				</tr>
				
				<tr>
					<td align="right"><strong>Mật khẩu
				      <label class="hoathi" >&#42;</label>
                                        </strong></td>
					<td><input width="200px" class="txt left" type="password" name="txtMatkhau" value="{Pwd}" required="required"/></td>
				</tr>
				
				<tr>
					<td align="right"><strong>Nhập lại mật khẩu
				      <label class="hoathi" >&#42;</label>
                                        </strong></td>
					<td><input width="200px" class="txt left" type="password" name="txtNhapLaiMK" value="{Pwd}" required="required"/></td>
				</tr>
				
				<tr>
					<td align="right"><strong>Tên công ty
				      <label class="hoathi" >&#42;</label>
                                        </strong></td>
					<td><input style="width:250px;" class="txt left" type="text" name="txtTenNTD" value="{TenNTD}" required="required"/></td>
				</tr>
				<tr>
					<td align="right"><strong>Logo</strong></td>
					<td><input style="width:250px;border:1px solid #7F9DB9" class="txt left" type="file" name="flogo" value="{Logo}"/>&#32;Kích cỡ file <=1MB(jpeg,jpg,png)</td>
				</tr>
				<tr>
					<td align="right"><strong>Website</strong></td>
					<td><input style="width:250px;" class="txt left" type="text" name="txtWebsite" value="{Website}" required="required"/></td>
				</tr>
				<tr>
					<td align="right"><strong>Quy mô công ty
				      <label class="hoathi" >&#42;</label>
				    </strong></td>
					<td><input style="width:100px;" class="txt left" type="text" name="txtQuymo" value="{QuyMo}" required="required"/>&#32; Nhân viên</td>
				</tr>
			
				
				<tr>
					<td align="right"><strong>Địa chỉ
				      <label class="hoathi" >&#42;</label>
                                        </strong></td>
					<td><input style="width:300px;" class="txt left" type="text" name="txtDiaChi" value="{DiaChi}" required="required"/></td>
				</tr>

				<tr>
					<td align="right"><strong>Điện thoại liên hệ
				      <label class="hoathi" >&#42;</label>
                                        </strong></td>
					<td><input class="txt left" type="text" name="txtDienThoaiLH" value="{DienThoaiLH}" required="required"/></td>
				</tr>
				<tr>
					<td align="right"><strong>Sơ lược về công ty
				      <label class="hoathi" >&#42;</label>
				    </strong></td>
					<td><textarea cols="50" rows="5" name="txtSoLuocVeNTD">{SoLuocVeNTD}</textarea>
                    <script language="javascript">CKEDITOR.replace( 'txtSoLuocVeNTD',{});</script></td>
				</tr>
				
				<tr>
					<td align="center" colspan="2"><input class="button" type="submit" value="Đăng ký"/> <input class="button" type="reset" value="Làm lại"/></td>
				</tr>
			</table>
		</form>
	</div>
<!--END: SIGNUP-->