<!-- BEGIN: ADD -->
	<form method="post" name="frmAdd" >
	<h2 align="left" class="_title"> Thêm thành viên mới</h2><br />
    	<table width="98%" border="0">
		
          <tr>
            <td align="right"><strong>Họ và tên</strong></td>
            <td align="left"><input type="text" name="txtTenNQT" size="80" class="textBox" value="{TenNQT}" /></td>
          </tr>
		  
		   <tr>
            <td align="right"><strong>Email</strong></td>
            <td align="left"><input type="text" name="txtEmail" size="80" class="textBox" value="{Email}" />
			<br />Example: example@exam.com
			</td>
          </tr>
		  
          <tr>
            <td  align="right"><strong>Mật khẩu</strong></td>
            <td align="left"><input type="password" name="txtPassword" size="60" value="{password}"  /></td>
          </tr>
		  
          <tr>
            <td  align="right"><strong>Nhập lại mật khẩu</strong></td>
            <td align="left"><input type="password" name="txtConfirmPassword" size="60" value=""  /></td>
          </tr>
		  <tr>
            <td align="right"><strong>Điện thoại</strong></td>
            <td align="left"><input type="text" name="txtDienThoai" size="80" class="textBox" value="{DienThoai}" /></td>
          </tr>
		  <tr>
            <td align="right"><strong>Quyền</strong></td>
            <td align="left">
				<select name="cbxQuyen">
					<option value="{Quyen}">{Quyen}</option>
					<option value="Admin">Admin</option>
					<option value="Mod">Mod</option>
				</select>
			</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>
			<input class="button "  type="submit" value="Thêm"  />&nbsp;
			<input class="button "  type="reset" value="Làm lại" />
			</td>
          </tr>
		  
          <tr>
            <td colspan="2" style="color:red; list-style:none">{errMes}</td>
          </tr>
        </table>

    </form>
<!-- END: ADD -->