
<!-- BEGIN: BLS -->	
	<div class="_title" style="width:100%"><h2 style="color:#000066"> Danh sách các thành viên quản trị</h2></div>
	<div class="head_list">
	<input class="button add" type="button" value="ADD" onclick="onAdd('?m=users&a=add')" />
	<input type="button" class="button cancel" value="DELETE" onclick="onDelAll('users')" />
	</div>
	<table align="center">
    	<thead>
        	<tr>
            	<th width="5%">Nbr</th>
                <th>Họ và tên</th>
                <th>Email</th>
				<th>Điện thoại</th>
				<th>Quyền</th>
                <th colspan="2">Action</th>
                <th><input type="checkbox" name="masCheck" onclick="checkAll()" id="masCheck"  /></th>
            </tr>
        </thead>
        <tbody>
        	
            <!-- BEGIN: LS -->
            <tr >
            	<td >{LS.nbr}</td>
                <td>{LS.TenNQT}</td>
                <td>{LS.Email}</td>
				<td>{LS.DienThoai}</td>
				<td>{LS.Quyen}</td>
                <td align="center"><a href="./?m=users&amp;a=edit&amp;id={LS.ID}" class="table-icon edit"  title="Edit"></a></td>
                <td align="center"><a href="javascript:void(0)" onclick="onDelOne({LS.ID},'{LS.TenNQT}','users')" class="table-icon delete"  title="Delete" ></a></td>
                <td align="center"><input type="checkbox" value="{LS.ID}" name="ick[]" /></td>
            </tr>
            <!-- END: LS -->
            <!-- BEGIN: NI -->
            <tr>
            	<td class="nullInfo" colspan="5">{nullInfo}</td>
            </tr>
            <!-- END: NI -->
        </tbody>
		<tfoot>
			<tr>
				<td colspan="5"><span>{pagers}</span> </td>
			</tr>
		</tfoot>
    </table>
<!-- END: BLS -->