<!--BEGIN: EDIT_JOB-->
	<div id="create_resume" class="box">
		<h3 class="_title">Sửa tin tuyển dụng</h3>	
		<form method="post" style="color:#000000">
		<p style="margin:10px; padding:10px; display:block;border-bottom:1px dashed #0000CC;">   Lưu ý: Các trường đánh dấu <label class="hoathi" >&#42;</label>  là bắt buộc phải nhập!</p>
		<label class="err">{errMes}</label>
		<p>
		<label style="padding-left:50px; font-weight:bold">Tiêu đề:<label class="hoathi" >&#42;</label> </label>
		<input type="text" name="txtTieuDe"  value="{TieuDe}" style="width:300px;" class="input"/>
		</p>	
		<table  >
		
		
<!-----------------------THONG TIN CONG TY--------------------->
			<tr>
				<th colspan="3">Thông tin công ty</th>	
			</tr>
			<tr>
				<td width="121" rowspan="3" align="center"  style="padding:10px"><img style="border:1px solid #666666;" src="./img/logo_employer/{LogoLink}" width="100px"/></td>
				
				<td align="right" width="100"><strong>Tên công ty: </strong></td>
				<td width="335"  align="left">{TenNTD}</td>
			</tr>
			<tr>
				<td align="right" width="100"><strong>Website: </strong></td>
				<td align="left"><a href="{Website}" style="color:#FF6600">{Website}</a></td>
			</tr>
			<tr>
				<td align="right" width="100" ><strong>Số nhân viên: </strong></td>
				<td align="left">{QuyMo}</td>
			</tr>
			<tr>
				<td align="left" ><strong>Sơ lược về công ty:</strong> </td>
				<td align="left" colspan="2"></td>
			</tr>
			<tr>
				<td align="left" colspan="3">{SoLuocVeNTD}</td>
			</tr>
			
<!--------------------MÔ TẢ CÔNG VIỆC----------------->
			<tr>
			  <th colspan="3">Mô tả công việc </th>
			</tr>
		
			<tr>	
				<td align="right" ><strong>Ngành nghề:</strong>
			  <label class="hoathi" >&#42;</label></td>
				<td align="left" colspan="2">
					{lstNganhNghe}
					
				</td>
			</tr>
			
			<tr>	
				<td align="right" ><strong>Nơi làm việc:
			      <label class="hoathi" ></label>
			    </strong>				  <label class="hoathi" >&#42;</label></td>
				<td align="left" colspan="2">{lstTinhThanh} </td>
				
			</tr>
			
		
			<tr>
				<td align="right" ><strong>Số lượng tuyển:</strong>
			  <label class="hoathi" >&#42;</label></td>
				<td align="left" colspan="2"><input type="text" name="txtSoLuongTuyen" value="{SoLuongTuyen}" class="textBox"/> Nhân viên</td>
			</tr>
			<tr>
				<td align="right" ><strong>Loại công việc:</strong>
			  <label class="hoathi" >&#42;</label> </td>
				<td align="left" colspan="2">
					<select name="cbxLoaiVL">
						<option value="{LoaiVL}">{LoaiVL}</option>
						<option value="Bán thời gian cố định">Bán thời gian cố định</option>
						<option value="Bán thời gian tạm thời">Bán thời gian tạm thời</option>
						<option value="Toàn thời gian cố định">Toàn thời gian cố định</option>
						<option value="Toàn thời gian tạm thời">Toàn thời gian tạm thời</option>
						<option value="Hợp đồng">Hợp đồng</option>
						<option value="Khác">Khác</option>
					</select>
				</td>
			</tr>
			<tr>
				<td align="right" ><strong>Vị trí:</strong>
			  <label class="hoathi" >&#42;</label> </td>
				<td align="left" colspan="2"><input type="text" value="{ViTri}" name="txtViTri" class="textBox"/></td>
			</tr>
			<tr>
				<td align="right" ><strong>Lương:</strong>
			  <label class="hoathi" >&#42;</label> </td>
				<td align="left" colspan="2">
				<input type="text" value="{MucLuong}" name="txtMucLuong" id="txtMucLuong" class="textBox"/><span class="txtMucLuong"> Đơn vị tính:<label class="hoathi" >&#42;</label></span>
				<select name="cbxDVTinhLuong" id="cbxDVTinhLuong" onchange="Luong();">
						<option value="{DVTinhLuong}">{DVTinhLuong}</option>
						<option value="Thỏa thuận">Thỏa thuận</option>
						<option value="VND">VND</option>
						<option value="USD">USD</option>
				</select>
				<script language="javascript" type="text/javascript">
					function Luong(){
						var value=$('#cbxDVTinhLuong').val();
						if(value=='Thỏa thuận'){
							$('.txtMucLuong').val("");
							$('.txtMucLuong').hide();
						}else{
							$('.txtMucLuong').show();
						}
					}
				</script>
				</td>
			</tr>
			<tr>
				<td align="right" ><strong>Mô tả:</strong>
			  <label class="hoathi" >&#42;</label> </td>
				<td align="left" colspan="2"><textarea cols="70" rows="10" name="txtaMoTa">{MoTa}</textarea></td>
			</tr>
			<tr>
				<td align="right" ><strong>Quyền lợi:</strong>
			  <label class="hoathi" >&#42;</label> </td>
				<td align="left" colspan="2"><textarea cols="70" rows="10" name="txtaQuyenLoi">{QuyenLoi}</textarea></td>
			</tr>
			


<!-----------------------YÊU CẦU --------------------->
			<tr>
				<th colspan="3">Yêu cầu </th>
			</tr>
			<tr>
				<td align="right" ><strong>Giới tính:</strong>
			  <label class="hoathi" >&#42;</label> </td>
				<td align="left" colspan="2">
					<select name="cbxYCGioiTinh">
						<option value="{YCGioiTinh}">{YCGioiTinh}</option>
						<option value="Nam">Nam</option>
						<option value="Nữ">Nữ</option>
						<option value="Nam/Nữ">Nam/Nữ</option>
					</select>
				</td>
			</tr>
			<tr>
				<td align="right" ><strong>Tuổi:</strong>
			  <label class="hoathi" >&#42;</label> </td>
				<td align="left" colspan="2"><input type="text" value="{YCDoTuoi}" name="txtYCDoTuoi" class="textBox"/></td>
			</tr>
			<tr>
				<td align="right"><strong>Trình độ: </strong><label class="hoathi" >&#42;</label></td>
				<td colspan="2">
					<select name="cbxYCBangCap">
						<option value="{YCBangCap}">{YCBangCap}</option>
						<option value="PTCS">PTCS</option>
						<option value="Trung học">Trung học</option>
						<option value="Chứng chỉ">Chứng chỉ</option>
						<option value="Trung Cấp">Trung Cấp</option>
						<option value="Cao đẳng">Cao đẳng</option>
						<option value="Cử nhân">Cử nhân</option>
						<option value="Kỹ sư">Kỹ sư</option>
						<option value="Bác sĩ">Bác sĩ</option>
						<option value="Thạc sĩ">Thạc sĩ</option>
						<option value="Tiến sĩ">Tiến sĩ</option>
						<option value="Không yêu cầu">Không yêu cầu</option>
					</select>
				</td>
			</tr>
			
			<tr>
				<td align="right" ><strong>Kĩ năng :</strong>
			  <label class="hoathi" >&#42;</label> </td>
				<td align="left" colspan="2"><textarea cols="70" rows="10" name="txtaYCTrinhDo">{YCKiNangChuyenMon}</textarea></td>
			</tr>
			<tr>
				<td align="right" ><strong>Kinh nghiệm:</strong>:
			      <label class="hoathi" >&#42;</label></td>
				<td colspan="2">
					<select name="cbxYCKinhNghiem">
						<option value="{YCKinhNghiem}">{YCKinhNghiem}</option>
						<option value="Không yêu cầu">Không yêu cầu</option>
						<option value="1 năm">1 năm</option>
						<option value="2 năm">2 năm</option>
						<option value="3 năm">3 năm</option>
						<option value="4 năm">4 năm</option>
						<option value="5 năm">5 năm</option>
						<option value="Trên 5 năm">Trên 5 năm</option>
					</select>
				</td>
			</tr>
			<tr>
				<td align="right" ><strong>Yêu cầu khác:</strong> </td>
				<td align="left" colspan="2"><textarea cols="70" rows="10" name="txtaYCKhac">{YCKhac}</textarea></td>
			</tr>
			
			

<!-----------------------YÊU CẦU HÒ SƠ------------------>
			<tr>
				<th colspan="3">Yêu cầu hồ sơ</th>
			</tr>
			<tr>
				<td align="right"><strong>Hồ sơ bao gồm:
			      <label class="hoathi" ></label>
			    </strong>				  <label class="hoathi" >&#42;</label></td>
				<td align="left" colspan="2"><textarea name="txtaYCHoSo" cols="70" rows="10">{YCHoSo}</textarea></td>
			</tr>
			<tr>
				<td align="right"><strong>Hình thức nộp:</strong></td>
				<td align="left" colspan="2">
					<input type="checkbox" id="ckNOpTrucTuyen" name="ckHinhThucNop[]" checked="checked" disabled="disabled" style="margin:5px" value="Nộp trực tuyến"/> <label for="ckNOpTrucTuyen">Nộp trực tuyến</label>
					<input type="checkbox" id="ckGuiKemFile" name="ckHinhThucNop[]" value="Gửi kèm File"  style="margin:5px" /><label for="ckGuiKemFile">Gửi E-mail</label>
					<input type="checkbox" id="ckTrucTiep" name="ckHinhThucNop[]" value="Trực tiếp"  style="margin:5px" /><label for="ckTrucTiep">Trực tiếp</label>
				</td>
			</tr>
			<tr>
				<td align="right"><strong>Hạn nộp hồ sơ:</strong>
			  <label class="hoathi" >&#42;</label></td>
				<td colspan="2"><input type="text" name="txtHanNopHS"  id="txtHanNopHS"value="{HanNopHS}" class="textBox" readonly="true"/></td>
				<script>
						$(function(){
							$('#txtHanNopHS').datepicker({
								dateFormat: "dd-mm-yy"
							});
						});
					</script>
			</tr>
			
			
			
<!-----------------------THÔNG TIN LIÊN HỆ------------------>
			<tr>
				<th colspan="3">Thông tin liên hệ</th>
			</tr>
			<tr>	
				<td align="right"><strong>Người liên hệ:</strong>
			  <label class="hoathi" >&#42;</label> </td>
				<td colspan="2" align="left"><input type="text" name="txtTenNLH" value="{TenNLH}" class="textBox"/></td>
			</tr>
			<tr>	
				<td align="right"><strong>E-Mail:</strong>
			  <label class="hoathi" >&#42;</label> </td>
				<td colspan="2" align="left"><input type="text" name="txtEmailNLH" value="{EmailNLH}" class="textBox"/></td>
			</tr>
			
			<tr>	
				<td align="right"><strong>Địa chỉ:</strong>
			  <label class="hoathi" >&#42;</label> </td>
				<td colspan="2" align="left"><input type="text" name="txtDiaChiNLH" value="{DiaChiNLH}"class="textBox"/></td>
			</tr>
			<tr>	
				<td align="right"><strong>Điện thoại:</strong>
			  <label class="hoathi" >&#42;</label> </td>
				<td colspan="2" align="left"><input type="text" name="txtSoDT" value="{SoDT}"class="textBox"/></td>
			</tr>
<!-----------------------TÙY CHỌN------------------>
			<tr>
				<th colspan="3">Tùy chọn đăng</th>
			</tr>
			<tr>
				<td align="right"><strong>Số ngày đăng:</strong>
			  <label class="hoathi" >&#42;</label></td>	
				<td align="left" colspan="2">
					<select name="cbxSoNgayDang">
						<option value="{SoNgayDang}">{SoNgayDang}</option>
						<option value="30">30</option>
						<option value="60">60</option>
						<option value="90">90</option>
					</select>
				</td>
			</tr>
			<tr>
				<td align="center" colspan="3" style="border-top:1px solid #0000FF">
				<input class="button add" style="width:100px; height:auto" type="submit" value="Lưu"/>
				<input class="button" style="width:100px; height:auto" type="reset" value="Làm lại"/>
				</td>
			</tr>
		</table>
		</form>
	</div>
<!--END: EDIT_JOB-->