

<!-- BEGIN: BLS -->	
	<form method="post">
	<div class="_title" style="width:100%"><h2 style="color:#000066"> Danh sách thông tin các công việc</h2></div>
	<div style="float:left; color:#000000; padding-left:20px;">Tìm kiếm: 
		<input type="text" name="txtkeyword" value="" />
		<input type="submit" class="button" value="Tìm"/>
	</div>
	<div class="head_list">
	<input type="button" class="button update" value="Đăng" onclick="onUpdateAll('jobs')" />
	</div>
	<table align="center">
    	<thead>
        	<tr>
            	<th width="3%">Nbr</th>
                <th>Tiêu đề</th>
                <th>Công ty</th>
				<th>Mức lương</th>
				<th>Ngành nghề</th>
				<th>Nơi làm việc</th>
				<th>Hạn nộp HS</th>
				<th>Trạng thái</th>
                <th colspan="2">Action</th>
                <th width="2%"><input type="checkbox" name="masCheck" onclick="checkAll()" id="masCheck"  /></th>
            </tr>
        </thead>
        <tbody>
        	
            <!-- BEGIN: LS -->
            <tr >
            	<td >{LS.nbr}</td>
                <td>{LS.TieuDe}</td>
				<td>{LS.TenNTD}</td>
               
                <td>{LS.MucLuong}{LS.DVTinhLuong}</td>
				
				<td>{LS.TenNganh}</td>
				<td>{LS.TenTT}</td>
				<td>{LS.HanNopHS}</td>
				<td>{LS.TrangThai}</td>
                
                <td align="center"><a href="./?m=jobs&amp;a=edit&amp;id={LS.MaVL}" class="table-icon edit"  title="Edit"></a></td>
                <td align="center"><a href="javascript:void(0)" onclick="onUpdateOne({LS.MaVL},'{LS.TieuDe}','jobs')" class="update"  title="Đăng" ></a></td>
                <td align="center"><input type="checkbox" value="{LS.MaVL}" name="ick[]" /></td>
            </tr>
            <!-- END: LS -->
            <!-- BEGIN: NI -->
            <tr>
            	<td class="nullInfo" colspan="11">{nullInfo}</td>
            </tr>
            <!-- END: NI -->
        </tbody>
		<tfoot>
			<tr>
				<td colspan="11"><span>{pagers}</span> </td>
			</tr>
		</tfoot>
    </table>
	</form>
<!-- END: BLS -->