
<!--BEGIN: SEND_RESUME-->
	<div id="lst_resume" class="box">
		<h3>Hãy chọn hồ sơ muốn gửi</h3>
		<form method="post">
		<p style="padding:20px;">Việc làm đã chọn: <strong> {TieuDe}</strong></p>
		<label class="err" >{errMes}</label>
			<table>
				<thead>
					<tr>
						<th> </th>
						<th>Tiêu đề đơn xin việc</th>
						
					</tr>
				</thead>
				<tbody>
				 <!-- BEGIN: LS -->
					<tr>
						<td>{LS.rdcheck}</td>
					
						<td ><a href="?m=resume&amp;a=detail_resume&amp;id={LS.MaHS} " >{LS.TieuDe}</a></td>
						
					</tr>
				 <!-- END: LS -->
				 	<!-- BEGIN: NI -->
					<tr>
						<td class="nullInfo" colspan="7">{nullInfo}</td>
					</tr>
					<!-- END: NI -->
				</tbody>
				<tfoot>
					
					</tr>
					<tr>
						<td colspan="2" align="right" valign="middle">
							<input class="button" type="submit" value="Nộp đơn" />
							
						</td>
					</tr>
				</tfoot>
			</table>
		</form>
	</div>
<!--END: SEND_RESUME-->