*{margin:0; padding:0; font-family:Arial, Helvetica, sans-serif;font-size:12px;}
a {
	text-decoration:none;
	color:#000000;
}
a:hover{
	text-decoration:underline;
}
div{
	display:block;
}
.txtright{
	text-align:right;
	padding-right:5px;
}
.txtleft{
	text-align:left;
}
.box{
	margin-bottom: 10px;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	background-color: #fff;
	background-image:url(../img/left-side-home-bottom.png);
	background-position:bottom;
	background-repeat:repeat-x;
}
.box:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
h1, h2, h3, h4, h5, h6 {margin:15px 0 10px 0;}
h1 {font-size:180%;}
h2 {font-size:160%;}
h3 {font-size:140%;}
h4 {font-size:120%;}
h5 {font-size:100%;}
select {
	height:30px;
}
li{
	padding:5px;
	list-style:none inside;
}
#wrap{
	border: 1px solid #999999;
	overflow:hidden;
	background:#FFFFFF;
	width:980px;
	height:auto;
	position:relative;
	margin:0 auto;
}

/*********HEADER*********/
#header_top{
	width:100%;
	height:150px;
	margin-bottom:0;
	background:url(../img/bannerNTD.jpg) no-repeat;
}
#logo{
	margin:30px 10px 10px 10px;
	width:100px;
	height:100px;
}
.left{
	float:left;
}
.right{
	float:right;
}
.clear{
	clear:both;
}

#header_top_left{
	width:200px;
	color:#FFFFFF;
	text-align:left;
	margin-left:10px;
	padding-top:3px;
	
}
#header_top_right, #header_top_right a{	
	width:750px;
	text-align:right;
	color:#FFFFFF;
	padding-top:3px;
	}

#ntd{
	padding:5px 5px 5px 5px;
	background:#FFFFFF;
	border:1px solid #999999;
	margin:5px;
	
	/*border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;*/
	
}
#ntd a{ 
	font-weight:bold;
	font-size:14px;
	text-shadow: #333333 0.1em 0.1em 0.1em ;
	line-height:20px;
	color:#660000;
	
}
/*********END HEADER*********/


/*********MENU*********/
#menu{
	/*border-top:5px solid #FF9900;*/
	width:100%;
	height:40px;
	/*background: -webkit-linear-gradient(top, #ffffff, #DFDFDF);*/
	background:url(../img/menubg.png) repeat-x;
	padding-left: 20px;

}

#menu ul li{
	float:left;
	list-style:none inside;
	padding-left:10px;
	padding-right:10px;
	border-right:1px solid #FFFFFF;
}
#menu ul li:first-child{
	border-left:1px solid #FFFFFF;
}
#menu ul li a{
	font-size:15px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif
	cursor:pointer;
	color:#fff;
	line-height:30px;
	text-shadow: #000000 0.1em 0.1em 0.1em ;
}
#menu ul li:hover{
	background: -webkit-linear-gradient(top, #DFDFDF, #ffffff);
	background: linear-gradient(top, #DFDFDF, #ffffff);
	background: -ms-linear-gradient(top, #DFDFDF, #ffffff);
}

#menu ul li:hover a{
	color:#000033;
	text-decoration:none;
	font-weight:bold;
	text-shadow:none;
	
}
/*********END MENU*********/


/*********TÌM KIẾM*********/
.timkiem{
	width:958px;
	text-align:left;
	/*border:1px solid #cccccc;*/
	margin:10px;
	background:#FFFFFF;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
.timkiem div{
	width:720px;
	text-align:right;
	padding:10px 20px 0 20px;
}
.text{
	margin-left:20px;
	width:150px; 
	font-size:14px;
}
.timkiem select { 
	height:30px;
	width:210px;
	padding:5px;
	border:1px solid #059CAD;
	appearance:none;
	-webkit-appearance: none;
	-moz-appearance:none;
	background:url(../img/bg_select.png) no-repeat;
	background-position: 42px -1px;
}
#btntimkiem{
	width:32px;
	height:32px;
	background:url(../img/ic_search.png);	
	border:none;
	cursor:pointer;
	margin-top:10px;
}
/*********END TÌM KIẾM*********/




/*NỘI DUNG*/
.timkiem,footer div{
	box-shadow:1px 1px 3px #efefef;
	border:1px solid #999999;
}

#content{
	width:980px;
	/*border:1px solid #666666;*/
	overflow:hidden;
	background:#FFFFFF;
	/*border-radius:0px 0px 10px 10px;
	
	-webkit-border-radius:0px 0px 10px 10px;
	-moz-border-radius:0px 0px 10px 10px;*/
}
#left_content{
	margin:0px 0px 10px 10px;
	width:680px;
}
#right_content{
	margin:0px 10px 10px 0px;
	width:265px;
}

#tructuyen ul li{
	float: left;
    height: 35px;
    padding-bottom: 15px;
    padding-right: 8px;
    padding-top: 5px;

}

.img_adv{
	width:100%;
	margin-bottom:10px;
}
h3 {
	margin:0; padding:8px; 
	display:block;
	background: url(../img/bg_title.jpg) repeat-x;	
	
	/*background-position:0 0;
*/	font-size:120%;
	text-shadow:#333333 0.1em 0.1em 0.1em;
	color:#fff;
}
.login{
	background:#FFFFFF;
	width:400px;
	margin:10px auto;
	border:1px solid #CCCCCC;
	text-align:center;
	/*border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;*/
}
.login table tr td{
	padding:10px 5px;
}
.signup{
	margin:0px auto;
	width:666px;
	background:#FFFFFF;
}
.signup table tr td{
	padding:10px 5px;
}
.hoathi{
	color:#FF0000;
	font-size:11px;
}
#hot_job, #lstnganhnghe,#lst_resume{
	width:100%;
	padding-bottom:10px;
}

#hot_job li{
	width:300px;
	float:left;
	margin-left:10px;
	overflow:hidden;
	background-image:url(/Web_Job/job_seeker/img/bullet_star.png); 
	background-repeat:no-repeat;
	background-position:0px 8px;
	padding-left:20px;
	border-bottom:1px dotted #999999; 
}
#lstnganhnghe li{
	width:190px;
	float:left;
	margin-left:10px;
	overflow:hidden;
	background-image:url(../img/bullet.png); 
	background-repeat:no-repeat;
	background-position:0 4px;
	padding-left:20px;
}
#create_resume p{
	margin:20px auto;
	padding-left:100px;
}
.input{
	width:200px;
	height:25px;
}
#create_resume table{
	width:660px;
	margin:10px;
}
#create_resume td{
	padding-left:10px;
	padding-top:10px;
}
#create_resume th{
	height:30px;
	border-bottom:1px dashed #0000FF;
	text-align:left;
	color:#000099;
}
#lst_resume table{
	width:660px;
	margin:10px;
}
#lst_resume table thead th{
	background:#0000FF;
	padding:7px;
	color:#FFFFFF;
}
#lst_resume table tbody td{
	color:#0000FF;
	padding:5px;
	border-bottom:1px  dotted #CCCCCC;
}
#lst_resume table tbody td a{
	color:#0000FF;
	text-decoration:underline;
}
#detail_resume label{
	display:block;
	margin:20px auto;
	text-align:center;
	text-transform:uppercase;
	font-weight:bold;
	color:#0000FF;
	
}
#lst_resume ul li ul {
	display:none;
}
#lst_resume ul li:hover ul{
	display:block;
}
#detail_resume table{
	margin:10px;
	width:660px;
}
#detail_resume table th{
	text-align:left;
	padding-top:10px;
	color:#0000FF;
	border-bottom:1px dashed #0033FF;
}
#detail_resume table td{
	padding-left:10px;
	padding-top:10px;
	border-bottom:1px dotted #CCCCCC;
}
.blue{
	color:#0099FF;
	font-size:12px;
	font-style:italic;
	font-weight:bold;
	width:200px;
}
.nganh,.TinhThanh{
	display:none;
}
/*********END NỘI DUNG*********/


/*********FOOTER*********/
#footer{
	
	background-image:url(../img/footer1.jpg) repeat -x;
	border-top:1px solid #999999;
	width:899x;
	padding:15px;
	text-align:center;
	font-family:"Times New Roman", Times, serif;
}
/*********END FOOTER*********/


.txt{
	height:25px;	
}
.button{
	padding:7px !important;
	margin:10px !important;
	min-width:100px !important;
	background:url(../img/bg_title.jpg) repeat-x;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	cursor:pointer;

}
.button:hover{
	background:#9BC01A;
	
}
.err{
	color:#FF0000;
	font-size:14px;
}
.pagers{
	margin: 10px auto;
	padding: 12px 0;
	text-align: center;
}
.pagers span{ 
	border:solid 1px #ddd; 
	margin-right:5px; 
	color:#b6b6b6; 
	padding:6px 10px; 
	text-decoration:none;
}
.pagers{
	border:solid 1px #e0e0e0; 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color:#000; 
	font-weight:bold;  
}
.pagers{
	padding:6px 10px; 
	text-decoration:none;
	margin:5px 5px; 
	margin-top: 20px;
}

a.pagers:hover{ 
	border:1px solid #3d6e99;
	background-position: left -130px;
	background:#61A2DA;
	color: white;
}
