<!--BEGIN: LST_RECEIVED_RESUME-->
	<div id="lst_resume" class="box">
		
		<form method="post">
		<h3>Danh sách hồ sơ đã lưu</h3>
			<span>Hãy chọn việc làm: {lstVL}</span>	
			<span><input type="submit" class="button" name="subfilt" value="Lọc"/></span>
			<!-- BEGIN: NU -->
					
				<div class="nullInfo" colspan="7">{nullInfo}</div>
					
			<!-- END: NU -->
			</ul>
		<h4>Danh sách hồ sơ đã nhận</h4>
			<table>
				<thead>
				
					<tr>
						<th><input type="checkbox" name="masCheck" onclick="checkAll()" id="masCheck"  /></th>
						<th>Ứng viên </th>
						<th>Tiêu đề việc làm</th>
						<th>Nơi làm việc</th>
						<th>Ngày đăng</th>
						<th>Lượt xem</th>
						<th>Xóa</th>
					</tr>
				</thead>
				<tbody>
				 <!-- BEGIN: LS -->
					<tr>
						<td align="center"><input type="checkbox" value="{LS.MaHS_VL}" name="ick[]" /></td>
						<td ><a href="./?m=resume&a=detail_resume&id={LS.MaHS}">{LS.TenNTV}</a></td>
						<td align="left"><a href="./?m=resume&a=detail_resume&id={LS.MaHS}" title="{LS.TieuDe}">{LS.TieuDe}</a></td>
						<td align="left">{LS.TenTT}</td>
						
						<td align="center">{LS.NgayDang}</td>
						<td align="center">{LS.LuotXem}</td>
						<td align="center"><a href="javascript:void(0)" onclick="onDelOne({LS.MaHS_VL},'{LS.TieuDe}','received_resume')" title="Xóa" ><img src="{baseUrl}/employer/img/i_delete.png" /></a></td>
					</tr>
				 <!-- END: LS -->
				 	<!-- BEGIN: NI -->
					<tr>
						<td class="nullInfo" colspan="7">{nullInfo}</td>
					</tr>
					<!-- END: NI -->
				</tbody>
				<tfoot>
					<tr>
					<tr>
						<td colspan="7" align="center" style="padding-top:10px;" valign="middle"><span>{pagers}</span> </td>
					</tr>
						<td colspan="7" align="right">
							<input class="button" type="button" value="Loại" onclick="onDelAll('received_resume')" />
							<input class="button" type="button" value="Gửi thông báo" onclick="onSendNotice('notice')" />
						</td>
					</tr>
					
				</tfoot>
			</table>
		</form>
	</div>
<!--END: LST_RECEIVED_RESUME-->
