<!-- BEGIN: SCR -->
    <script language="javascript" src="{baseUrl}/job_seeker/js/jquery.1.8.3.js" type="text/javascript"></script>
	<script language="javascript" src="{baseUrl}/job_seeker/js/myfunc.js" type="text/javascript"></script>
	<link rel="stylesheet" href="{baseUrl}/job_seeker/css/style.css" type="text/css">
	
<!-- END: SCR -->