*{
	margin:0;
	padding:0;
}
.content{	
	margin: 0 auto; 
	with: 980px;
	
}

.head_list input{
	margin: 5px 5px;
	float:right;
}
body{
	
	background: #f3f3f3 url(../img/bg_top.jpg) repeat-x;
	color: #bebebe;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0;
}

h1, h2, h3, h4{
	font-family:"Times New Roman", Times, serif;
	color: #444444;
	text-shadow:0px 1px 0px #FFFFFF;
}

a{
	text-decoration: none;

}
a:hover{
	text-decoration: underline;
}
button, .button{
	background: #F3F3F3;
	border: 1px solid #DCDCDC;
	border-radius: 4px;
	color: #444444;
	cursor: pointer;
	display: inline-block;
	font: 700 11px Tahoma, Arial, sans-serif;
	margin-right: 10px;
	padding: 7px 12px 7px 12px;
	position: relative;
	text-decoration: none;
	text-shadow: 0px 1px 0px #FFFFFF;
}
button:hover, .button:hover{
	border-bottom-color: #999999;
	border-left-color: #999999;
	border-right-color: #999999;
	border-top-color: #999999;
	color: #333333;
	text-decoration: none;
}

#wrap{
	margin: 0 auto;
	width: 980px;
}

#header #top{
	height: 34px;
	padding: 14px 20px 0 20px;
}
#header #top p{
	text-shadow: #000 0px 1px 1px;
}
#header #top a{
	color: #f07e01;
}

.box ul li .icon{ padding: 2px 0 2px 22px;}
.box ul li .page{ background: url(../img/i_page.png) no-repeat center left;}
.box ul li .view_page{ background: url(../img/i_view_page.png) no-repeat center left;}
.box ul li .category{ background: url(../img/i_category.png) no-repeat center left;}
.box ul li .contact{ background: url(../img/i_contact.png) no-repeat center left;}
.box ul li .report{ background: url(../img/i_report.png) no-repeat center left;}
.box ul li .add_page{ background: url(../img/i_add_page.png) no-repeat center left;}
.box ul li .photo{ background: url(../img/i_photo.png) no-repeat center left;}
.box ul li .config{ background: url(../img/i_config.png) no-repeat center left;}
.box ul li .users{ background: url(../img/i_users.png) no-repeat center left;}
.box ul li .add_user{ background: url(../img/i_add_user.png) no-repeat center left;}
.box ul li .block_users{ background: url(../img/i_block_users.png) no-repeat center left;}



/* CONTENT MAIN START */

/*#content #main{
	float: right;
	margin: 0 0 12px 0;
	width: 680px;
}

#content #main ul, #content #main ol{
	list-style-position: inside;
	margin: 0 0 0 35px;
}
*/
 .full_w{
	background: #ffffff;
	border: 1px solid #DCDDE1;
	color: #848484;
	margin: 0 0 20px 0;
}
 .full_w .h_title, #main .half_w .h_title{
	background: url(../img/bg_box_head.jpg) repeat-x;
	color: #bebebe;
	font-size: 11px;
	font-weight: normal;
	height: 22px;
	padding: 7px 0 0 15px;
	text-shadow: #0E0E0E 0px 1px 1px;
}
 .full_w .list{
	list-style: none;
}
 .full_w h1, #main .full_w h2, #main .full_w h3{
	margin: 15px 15px 5px 15px;
}
 .full_w p{
	line-height: 16px;
	margin: 5px 15px;
}

 .half_w{
	background: #ffffff;
	border: 1px solid #DCDDE1;
	color: #848484;
	margin: 0 0 20px 0;
	width: 330px;
	float: left;
}
 .half_left{
	margin-right: 10px;
}
 .half_right{
	margin-left: 4px;
}

/* STATS BLOCK */

 .stats .today, #main .stats .week{
	float: left;
	margin: 10px auto;
	text-align: center;
	text-shadow: #fff 1px 1px 0px;
	width: 49%;
}
 .stats .today{
	border-right: 1px dashed #c0c0c0;
}
 .stats h3{
	color: #797777;
	font-size: 12px;
	margin-bottom: 5px;
	text-transform: uppercase;
}
 .stats .count{
	color: #444444;
	font-size: 23px;
	font-weight: bold;
}
/*#main .stats .type{
	font-size: 10px;
	margin-bottom: 5px;
	text-transform: uppercase;
}
*/
/* CONTENT MAIN FORM */
._title{
	color:#000099;
	font:Georgia, "Times New Roman", Times, serif;
	margin:10px;
}
 form{
	margin: 5px;
}
form .element{
	clear: both;
	border-bottom: 1px dashed #ededed;
	display: block;
	margin: 0;
	padding: 10px 10px;
}
form .textBox{
	min-width:200px;
}
 /*form label{
	color: #575757;
	display: block;
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 5px 0;
	padding: 0 0 0 3px;
}
 form label span{
	color: #b8b8b8;
	font-size: 11px;
	font-weight: normal;
}*/
form input, #main form select, #main form textarea{
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	font-size: 11px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	padding: 5px 3px;
}
 form input:focus, #main form select:focus, #main form textarea:focus{	border: 1px solid #b3b3b3;}

 form select{
	border: 1px solid #DDDDDD;
	border-radius: 3px;

}
 form .text{
	width: 100%;
}
form .textarea{
	width: 100%;
}
form .err{
	color: #FF5252;
}
form .hoathi{
	color: #FF5252;
}

/* MAIN NOTIFY */

.n_warning{background: #FFF7CE;border: 1px solid #D9C65B; border-radius: 3px; margin: 20px 15px;padding: 1px;}
.n_warning p{	background: #FDF0B1 url(../img/i_warning.png) no-repeat 4px center;	color: #756B30;	margin: 0; padding: 7px 25px;}
.n_warning a{	color: #756B30;	font-weight: bold;}

.n_ok{background: #F6FFEC;border: 1px solid #89B755; border-radius: 3px; margin: 20px 15px;padding: 1px;}
.n_ok p{background: #DFF6C5 url(../img/i_ok.png) no-repeat 4px center; color: #496528; margin: 0; padding: 7px 25px;}
.n_ok a{color: #006312; font-weight: bold;}

.n_error{background: #FDE4E1;border: 1px solid #B16A6C; border-radius: 3px; margin: 20px 15px;padding: 1px;}
.n_error p{background: #F4CAC6 url(../img/i_error.png) no-repeat 4px center; color: #630E18; margin: 0; padding: 7px 25px;}
.n_error a{color: #822121; font-weight: bold;}
._label{
	text-shadow:#0033FF;
	font:"Times New Roman", Times, serif;
	font-weight:bold;
}

/* MAIN TABLE */

table{ 

	border-collapse: collapse; 
	margin: 10px; 
	width: 960px; 
}
table th{ 
	
	background: url(../img/bg_box_head.jpg) repeat-x;
	color: #DACDCD;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	font-size: 12px; 
	padding: 1px 5px 5px 5px; 
	text-shadow: 0px 1px #242424; 
	height:20px;
	text-align:left;
}

table tbody tr{ 
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
}
table tbody td{ 
	border-bottom: 1px solid #ffffff; 
	border-top: 1px solid ffffff; 
	color: #565656;
	padding: 7px; 
}
/*table .chb{ 
	width: 20px; 
}*/
table tfoot tr {
	text-align:center;
	height: 30px; 
}
table tfoot tr td{
	padding-top:10px;
	}
.table-icon { padding: 1px 8px; margin-right: 5px; }
.edit.table-icon { background: url(../img/i_edit.png) no-repeat; }
.delete.table-icon { background: url(../img/i_delete.png) no-repeat; }
.archive.table-icon { background: url(../img/i_archive.png) no-repeat; }

.pagers{
	margin: 5px auto;
	padding: 12px 0;
	text-align: center;
}

.pagers span{ 
	border:solid 1px #ddd; 
	margin-right:5px; 
}
.pagers{
	border:solid 1px #e0e0e0; 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color:#000; 
	font-weight:bold;  
}
.pagers{
	padding:6px 10px; 
	text-decoration:none;
	margin:5px 5px; 
	margin-top: 20px;
}
.pagers span{ 
	color:#b6b6b6; 
	padding:6px 10px; 
	text-decoration:none; 
}
a.pagers:hover{ 
	border:solid 1px #333333; 
}

/* FOOTER START */

#footer{
	background: url(../img/bg_top.jpg) repeat-x top center;
	border-top: 2px solid #404345;
	color: #939393;
	margin: 0;
	padding: 20px 20px;
	text-shadow: #111111 0px 1px 1px;
	width: 955px;
	margin-left:0 auto;
	margin-right:0 auto;
}
#footer a{
	margin-bottom:0 auto;
	color: #939393;
	font-weight: bold;
}

/* HELPERS START */

.entry{ color: #444; margin: 5px 0; padding: 5px 15px; text-shadow: 0px 1px #ffffff; }
.update{ background: #F3F3F3 url(../img/1_update.png) no-repeat 4px center;	padding-left: 25px;}
.add{ background: #F3F3F3 url(../img/i_add.png) no-repeat 4px center;	padding-left: 25px;}
.cancel{ background: #F3F3F3 url(../img/i_delete.png) no-repeat 4px center;	padding-left: 25px;}
.sep{ border-bottom: 1px dashed #DDDDDD; margin: 10px 0;}

.clear{ clear: both; }

.left{ 	float: left; }
.right{ float: right; }

.align-left{ text-align: left; }
.align-right{ text-align: right; }
.align-center{ text-align: center; }
