<!--BEGIN: DETAIL_NOTICE-->
	<div id="detail_resume" class="box">
 		<h3>Chi tiết thông báo</h3>
		<table>
			<tr>
				<td width="10%">Công ty:</td><td><strong>{TenNTD}</strong></td>
			</tr>
			
			<tr>
				<td>Tiêu đề:</td><td><strong>{TieuDe}</strong></td>
			</tr>
			<tr>
				<td>Nội dung:</td><td>{NoiDung}</td>
			</tr>
			<tr>
				<th colspan="2" style="border:none; text-align:right;" ><a href="?m=notice&a=list" style="font-style:italic; text-decoration:underline; color:#FF3300;">Danh sách thông báo</a></th>
			</tr>
	</table>
	</div>
<!--BEGIN: DETAIL_NOTICE-->
