<!--BEGIN: LST_NOTICE-->
	<div id="lst_resume" class="box">
		<h3>Danh sách việc làm đã lưu</h3>
		<form>
			<table>
				<thead>
				
					<tr>
						<th><input type="checkbox" name="masCheck" onclick="checkAll()" id="masCheck"  /></th>
						<th>Tiêu đề</th>
						<th>Nội dung</th>
						<th>Đã nhận</th>
						<th>Xóa</th>
					</tr>
				</thead>
				<tbody>
				 <!-- BEGIN: LS -->
					<tr>
						<td align="center"><input type="checkbox" value="{LS.MaTB_NTV}" name="ick[]" /></td>
						<td ><a href="./?m=notice&a=detail&id={LS.MaTB_NTV}">{LS.TieuDe}</a></td>
						
						<td align="left">{LS.NoiDung}</td>
						<td align="left">{LS.ThoiGianGui}</td>
						<td align="center"><a href="javascript:void(0)" onclick="onDelOne({LS.MaTB_NTV},'{LS.TieuDe}','notice')" title="Xóa" ><img src="{baseUrl}/job_seeker/img/i_delete.png" /></a></td>
					</tr>
				 <!-- END: LS -->
				 	<!-- BEGIN: NI -->
					<tr>
						<td class="nullInfo" colspan="7">{nullInfo}</td>
					</tr>
					<!-- END: NI -->
				</tbody>
				<tfoot>
					<tr>
					<tr>
						<td colspan="7" align="center" style="padding-top:10px;" valign="middle"><span>{pagers}</span> </td>
					</tr>
						<td colspan="7" align="right">
							<input class="button" type="button" value="Xóa" onclick="onDelAll('saved_jobs')" />
							
						</td>
					</tr>
					
				</tfoot>
			</table>
		</form>
	</div>
<!--END: LST_NOTICE-->
