<!--BEGIN: DETAIL_NOTICE-->
	<div id="detail_resume" class="box">
 		<h3>Chi tiết thông báo</h3>
		<span style="text-transform:none;text-align:left; padding:10px 10px 0 10px;"><h4>{TieuDe}</h4></span>
		<DIV style="text-align:left; border-top:1px solid #CCCCCC; padding:20px;">{NoiDung}</DIV>
	</div>

<!--BEGIN: DETAIL_NOTICE-->
