<!--BEGIN: EDIT_NOTICE-->
	<div id="create_resume" class="box">
		<h3>Sửa thông báo</h3>	
		<form method="post">
		<p style="margin:10px; padding:10px; display:block;border-bottom:1px dashed #0000CC;">   Lưu ý: Các trường đánh dấu <label class="hoathi" >&#42;</label>  là bắt buộc phải nhập!</p>
		<label class="err">{errMes}</label>
	
		<table  >
		
			<tr>
				<td valign="top" align="right"><strong>Tiêu đề
			      <label class="hoathi" ></label>
			    </strong>				  <label class="hoathi" >&#42;</label></td>
				<td><input style="width:300px; height:25px;" type="text" name="txtTieuDe" value="{TieuDe}"/></td>
			</tr>
			<tr>
				<td valign="top" align="right"><strong>Nội dung</strong>
			  <label class="hoathi" >&#42;</label></td>
				<td><textarea cols="50" rows="10" name="txtNoiDung">{NoiDung}</textarea>
                    <script language="javascript">CKEDITOR.replace( 'txtNoiDung',{});</script></td>
			</tr>
			<tr>
				<td colspan="2" align="center">
				<input type="submit" class="button" value="Lưu"/>
				<input type="reset" class="button" value="Làm lại"/>
				</td>
			</tr>
		</table>
		</form>
	</div>
<!--END: EDIT_NOTICE-->