<!--BEGIN: LST_NOTICE-->
	<div id="lst_resume" class="box">
		<h3>Dacnh sách các mẫu tin thông báo</h3>
		<form>
			<table>
				<thead>
				
					<tr>
						<th><input type="checkbox" name="masCheck" onclick="checkAll()" id="masCheck"  /></th>
						<th>Tiêu đề</th>
						<th>Nội dung</th>
						<th>Sửa</th>
						<th>Xóa</th>
					</tr>
				</thead>
				<tbody>
				 <!-- BEGIN: LS -->
					<tr>
						<td align="center"><input type="checkbox" value="{LS.MaTB}" name="ick[]" /></td>
						<td ><a href="?m=notice&amp;a=detail_notice&amp;id={LS.MaTB}">{LS.TieuDe}</a></td>
						<td align="justify">{LS.NoiDung}</td>
						<td align="center"><a href="?m=notice&amp;a=edit_notice&amp;id={LS.MaTB}" title="Sửa"><img src="{baseUrl}/employer/img/i_edit.png"/></a></td>
						<td align="center"><a href="javascript:void(0)" onclick="onDelOne({LS.MaTB},'{LS.TieuDe}','notice')" title="Xóa" ><img src="{baseUrl}/employer/img/i_delete.png" /></a></td>
					</tr>
				 <!-- END: LS -->
				 	<!-- BEGIN: NI -->
					<tr>
						<td class="nullInfo" colspan="5">{nullInfo}</td>
					</tr>
					<!-- END: NI -->
				</tbody>
				<tfoot>
					<tr>
						<td colspan="5" align="right">
							<input class="button" type="button" value="Tạo thông báo mới" onclick="onAdd('?m=notice&a=create_notice')" />
							<input type="button" class="button" value="Xóa" onclick="onDelAll('notice')" />
						</td>
					</tr>
				</tfoot>
			</table>
		</form>
	</div>
<!--END: LST_NOTICE-->