<!--BEGIN: SEND_NOTICE-->
	<div id="lst_resume" class="box">
		<h3>Hãy chọn thông báo muốn gửi</h3>
		<form method="post">
			<table>
				<thead>
				
					<tr>
						<th>Chọn</th>
						<th>Tiêu đề</th>
						<th>Nội dung</th>
					</tr>
				</thead>
				<tbody>
				 <!-- BEGIN: LS -->
					<tr>
						<td align="center">{LS.rdcheck}</td>
						<td ><a href="?m=notice&amp;a=detail_notice&amp;id={LS.MaTB}">{LS.TieuDe}</a></td>
						<td align="justify">{LS.NoiDung}</td>
					</tr>
				 <!-- END: LS -->
				 	<!-- BEGIN: NI -->
					<tr>
						<td class="nullInfo" colspan="5">{nullInfo}</td>
					</tr>
					<!-- END: NI -->
				</tbody>
				<tfoot>
					<tr>
						<td colspan="5" align="right">
							<input class="button" type="submit" value="Gửi thông báo"  />
							
						</td>
					</tr>
				</tfoot>
			</table>
		</form>
	</div>
<!--END: SEND_NOTICE-->