<!-- BEGIN: SCR -->
	<link rel="stylesheet" type="text/css" href="{baseUrl}/adminpanel/css/style1.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="{baseUrl}/adminpanel/css/navi.css" media="screen" />
	
	<!--<link rel="stylesheet" href="{baseUrl}/adminpanel/css/style.css" type="text/css">-->
		<script language="javascript" src="{baseUrl}/adminpanel/js/myfunc.js" type="text/javascript">		</script>
		<script type="text/javascript" src="{baseUrl}/adminpanel/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript">
		$(function(){
			$(".box .h_title").not(this).next("ul").hide("normal");
			$(".box .h_title").not(this).next("#home").show("normal");
			$(".box").children(".h_title").click( function() { $(this).next("ul").slideToggle(); 			
			});
		});
	</script>
	<script src="{baseUrl}/adminpanel/js/highcharts_init.js"></script>
	<script src="{baseUrl}/adminpanel/js/highcharts.js"></script>
	
<!-- END: SCR -->